<div class="container--swiper case ">
  <div class="swiper swiper-case">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="case__card">
          <img class="case__card-img" src="assets/img/case-img.jpg" alt="">
          <div class="case__card-content">
            <p class="case__card-name">
              Гурова Софья Андреевна
            </p>
            <div class="case__card-price-box">
              <p class="case__card-price-title">Сумма долга: </p>
              <p class="case__card-price">3 456 ₽</p>
            </div>
            <p class="case__card-decs">
              Гурова Софья Андреевна
            </p>
            <a class="case__card-btn btn" href="">
              Подробнее
            </a>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        {% include "html/includes/case-card.html" %}
      </div>

      <div class="swiper-slide">
        {% include "html/includes/case-card.html" %}
      </div>

      <div class="swiper-slide">
        {% include "html/includes/case-card.html" %}
      </div>

      <div class="swiper-slide">
        {% include "html/includes/case-card.html" %}
      </div>



    </div>
    <div class="swiper-pagination swiper-case__swiper-pagination"></div>

  </div>

  <div class="swiper-case__swiper-button-next swiper-button-next">
  </div>
  <div class="swiper-case__swiper-button-prev swiper-button-prev">
  </div>
</div>