<div class="container--swiper reviews ">
  <div class="swiper swiper-reviews">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        {% include "html/includes/reviews-card.html" %}
      </div>
      <div class="swiper-slide">
        {% include "html/includes/reviews-card.html" %}
      </div>
      <div class="swiper-slide">
      {% include "html/includes/reviews-card.html" %}
      </div>
      <div class="swiper-slide">
        {% include "html/includes/reviews-card.html" %}
      </div>
      <div class="swiper-slide">
      {% include "html/includes/reviews-card.html" %}
      </div>
    </div>
    <div class="swiper-pagination swiper-reviews__swiper-pagination"></div>
  </div>
  <!-- навигация -->
  <div class="swiper-reviews__swiper-button-next swiper-button-next">
  </div>
  <div class="swiper-reviews__swiper-button-prev swiper-button-prev">
  </div>
</div>