<div class="container--swiper staff ">
  <div class="swiper swiper-staff">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        {% include "html/includes/staff-card.html" %}

      </div>
      <div class="swiper-slide">
        {% include "html/includes/staff-card.html" %}
      </div>
      <div class="swiper-slide">
        {% include "html/includes/staff-card.html" %}
      </div>
      <div class="swiper-slide">
        {% include "html/includes/staff-card.html" %}
      </div>
      <div class="swiper-slide">
        {% include "html/includes/staff-card.html" %}

      </div>
      <div class="swiper-slide">
        {% include "html/includes/staff-card.html" %}
      </div>
    </div>
    <div class="swiper-pagination  swiper-staff__swiper-pagination"></div>
  </div>

  <div class="swiper-navigation">
    <div class="swiper-button-prev swiper-staff__swiper-button-prev"></div>
    <div class="swiper-button-next swiper-staff__swiper-button-next"></div>
  </div>
</div>