{% set title = "Отзывы клиентов" %}
{% set bodyClass = "is-reviews-page" %}

{% extends "html/layouts/default.html" %}

{% block content %}


<section class="serv-desc-page gray section">
  <div class="container">
    {% include "html/includes/breadcrumbs.html" %}
    <h1 class="title">
      <span class="title-bg">Отзывы клиентов </span>
    </h1>

    <div class="services-page__text-box">
      <p class="services-page__text">
        Текст про отзывы вообще и про наши в частности..... эффективной работе, мы изучили все нюансы законодательства.
        возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
      </p>
      <p class="services-page__text">
        Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства. Обо всех
        возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
      </p>
    </div>


    <div class="reviews-page__list">
      <div class="reviews-page__item">
        <div class="reviews__card">
          <div class="reviews__content-box">
            <div class="reviews__top">
              <img class="reviews__img" src="assets/img/reviews.jpg" alt="">
              <div class="reviews__name-box">
                <p class="reviews__name">
                  Николай Андреев
                </p>

                <p class="reviews__city">
                  г.Орел
                </p>
              </div>
            </div>
            <p class="reviews__text">
              «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
              труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
              предоставляет много услуг.
              предоставляет много услуг.
              труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
              предоставляет много услуг.
              предоставляет много услуг.
            </p>

            <a class="reviews__btn btn" href="">
              Подробнее
            </a>
          </div>
        </div>
      </div>
      <div class="reviews-page__item">
        <div class="reviews__card">
          <div class="reviews__content-box">
            <div class="reviews__top">
              <img class="reviews__img" src="assets/img/reviews.jpg" alt="">
              <div class="reviews__name-box">
                <p class="reviews__name">
                  Николай Андреев
                </p>

                <p class="reviews__city">
                  г.Орел
                </p>
              </div>
            </div>
            <p class="reviews__text">
              «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
              труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
              предоставляет много услуг.
              предоставляет много услуг.
            </p>

            <a class="reviews__btn btn" href="">
              Подробнее
            </a>
          </div>
        </div>
      </div>
      <div class="reviews-page__item">
        <div class="reviews__card">
          <div class="reviews__content-box">
            <div class="reviews__top">
              <img class="reviews__img" src="assets/img/reviews.jpg" alt="">
              <div class="reviews__name-box">
                <p class="reviews__name">
                  Николай Андреев
                </p>

                <p class="reviews__city">
                  г.Орел
                </p>
              </div>
            </div>
            <p class="reviews__text">
              «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
              труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
              предоставляет много услуг.
              предоставляет много услуг.
            </p>

            <a class="reviews__btn btn" href="">
              Подробнее
            </a>
          </div>
        </div>
      </div>
      <div class="reviews-page__item">
        <div class="reviews__card">
          <div class="reviews__content-box">
            <div class="reviews__top">
              <img class="reviews__img" src="assets/img/reviews.jpg" alt="">
              <div class="reviews__name-box">
                <p class="reviews__name">
                  Николай Андреев
                </p>

                <p class="reviews__city">
                  г.Орел
                </p>
              </div>
            </div>
            <p class="reviews__text">
              «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
              труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
              предоставляет много услуг.
              предоставляет много услуг.
            </p>

            <a class="reviews__btn btn" href="">
              Подробнее
            </a>
          </div>
        </div>
      </div>
      <div class="reviews-page__item">
        <div class="reviews__card">
          <div class="reviews__content-box">
            <div class="reviews__top">
              <img class="reviews__img" src="assets/img/reviews.jpg" alt="">
              <div class="reviews__name-box">
                <p class="reviews__name">
                  Николай Андреев
                </p>

                <p class="reviews__city">
                  г.Орел
                </p>
              </div>
            </div>
            <p class="reviews__text">
              «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
              труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
              предоставляет много услуг.
              предоставляет много услуг.
            </p>

            <a class="reviews__btn btn" href="">
              Подробнее
            </a>
          </div>
        </div>
      </div>
      <div class="reviews-page__item">
        <div class="reviews__card">
          <div class="reviews__content-box">
            <div class="reviews__top">
              <img class="reviews__img" src="assets/img/reviews.jpg" alt="">
              <div class="reviews__name-box">
                <p class="reviews__name">
                  Николай Андреев
                </p>

                <p class="reviews__city">
                  г.Орел
                </p>
              </div>
            </div>
            <p class="reviews__text">
              «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
              труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
              предоставляет много услуг.
              предоставляет много услуг.
            </p>

            <a class="reviews__btn btn" href="">
              Подробнее
            </a>
          </div>
        </div>
      </div>
      <div class="reviews-page__item">
        <div class="reviews__card">
          <div class="reviews__content-box">
            <div class="reviews__top">
              <img class="reviews__img" src="assets/img/reviews.jpg" alt="">
              <div class="reviews__name-box">
                <p class="reviews__name">
                  Николай Андреев
                </p>

                <p class="reviews__city">
                  г.Орел
                </p>
              </div>
            </div>
            <p class="reviews__text">
              «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
              труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
              предоставляет много услуг.
              предоставляет много услуг.
            </p>

            <a class="reviews__btn btn" href="">
              Подробнее
            </a>
          </div>
        </div>
      </div>
      <div class="reviews-page__item">
        <div class="reviews__card">
          <div class="reviews__content-box">
            <div class="reviews__top">
              <img class="reviews__img" src="assets/img/reviews.jpg" alt="">
              <div class="reviews__name-box">
                <p class="reviews__name">
                  Николай Андреев
                </p>

                <p class="reviews__city">
                  г.Орел
                </p>
              </div>
            </div>
            <p class="reviews__text">
              «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
              труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
              предоставляет много услуг.
              предоставляет много услуг.
            </p>

            <a class="reviews__btn btn" href="">
              Подробнее
            </a>
          </div>
        </div>
      </div>
      <div class="reviews-page__item">
        <div class="reviews__card">
          <div class="reviews__content-box">
            <div class="reviews__top">
              <img class="reviews__img" src="assets/img/reviews.jpg" alt="">
              <div class="reviews__name-box">
                <p class="reviews__name">
                  Николай Андреев
                </p>

                <p class="reviews__city">
                  г.Орел
                </p>
              </div>
            </div>
            <p class="reviews__text">
              «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
              труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
              предоставляет много услуг.
              предоставляет много услуг.
            </p>

            <a class="reviews__btn btn" href="">
              Подробнее
            </a>
          </div>
        </div>
      </div>
    </div>
    <button class="cases-page__btn">
      Показать еще
    </button>

  </div>
</section>


<section class="reviews-page white section">
  <div class="container">

    <div class="reviews-page__title-box">
      <h3 class="reviews-page__subtitle">
        Оставьте отзыв о нашей работе на одном из сайтов
      </h3>

      <p class="reviews-page__text ">
        Большое спасибо за вашу оценку предоставленной консультации во время звонка из департамента качества.
        Пожалуйста,
        напишите пару слов о нашей работе на одном из этих сайтов по сбору отзывов.
      </p>
    </div>


    <div class="reviews-page__site-list ">
      <a href="" class="reviews-page__site-card">
        <img src="assets/img/2gis.svg" alt="2gis">

        <div class="reviews-page__site-stars">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/stargr.svg" alt="">
        </div>

        <p class="reviews-page__site-text">
          128 отзывов
        </p>
      </a>

      <a href="" class="reviews-page__site-card">
        <img src="assets/img/google.svg" alt="google">

        <div class="reviews-page__site-stars">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/stargr.svg" alt="">
        </div>

        <p class="reviews-page__site-text">
          128 отзывов
        </p>
      </a>

      <a href="" class="reviews-page__site-card">
        <img src="assets/img/ya.svg" alt="ya.ru">

        <div class="reviews-page__site-stars">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/stargr.svg" alt="">
        </div>

        <p class="reviews-page__site-text">
          128 отзывов
        </p>
      </a>
      <a href="" class="reviews-page__site-card">
        <img src="assets/img/yas.svg" alt="yas">

        <div class="reviews-page__site-stars">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/stargr.svg" alt="">
        </div>

        <p class="reviews-page__site-text">
          128 отзывов
        </p>
      </a>
      <a href="" class="reviews-page__site-card">
        <img src="assets/img/otzovik.svg" alt="otzovik">

        <div class="reviews-page__site-stars">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/stargr.svg" alt="">
        </div>

        <p class="reviews-page__site-text">
          128 отзывов
        </p>
      </a>
      <a href="" class="reviews-page__site-card">
        <img src="assets/img/flamp.svg" alt="flamp">

        <div class="reviews-page__site-stars">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/stargr.svg" alt="">
        </div>

        <p class="reviews-page__site-text">
          128 отзывов
        </p>
      </a>
      <a href="" class="reviews-page__site-card">
        <img src="assets/img/zoom.svg" alt="zoom">

        <div class="reviews-page__site-stars">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/stargr.svg" alt="">
        </div>

        <p class="reviews-page__site-text">
          128 отзывов
        </p>
      </a>
    </div>
  </div>


</section>



<section class="gray section">
  <div class="container">

    <div class="title-wrapper">
      <h2 class="title">
        <span class="title-bg">Видео-отзывы</span>
      </h2>

    </div>

  </div>

  <div class="container--swiper reviews-video ">
    <div class="swiper swiper-reviews-video">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="reviews-video__video-box">

            <div data-video="assets/img/video/1.mp4" data-image="assets/img/video1.png" class="reviews-video__video"
              id="reviews1"></div>
          </div>
          <div class="reviews-video__video-desc-box">
            <p class="reviews-video__video-title">
              Дарья Соколова
            </p>

          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews-video__video-box">

            <div data-video="assets/img/video/2.mp4" data-image="assets/img/video2.png" class="reviews-video__video"
              id="reviews2"></div>
          </div>
          <div class="reviews-video__video-desc-box">
            <p class="reviews-video__video-title">
              Елена Максимова
            </p>

          </div>
        </div>

        <div class="swiper-slide">
          <div class="reviews-video__video-box">

            <div data-video="assets/img/video/3.mp4" data-image="assets/img/video3.png" class="reviews-video__video"
              id="reviews3"></div>
          </div>
          <div class="reviews-video__video-desc-box">
            <p class="reviews-video__video-title">
              Андрей Шумилов
            </p>

          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews-video__video-box">

            <div data-video="assets/img/video/4.mp4" data-image="assets/img/video4.png" class="reviews-video__video"
              id="reviews4"></div>
          </div>
          <div class="reviews-video__video-desc-box">
            <p class="reviews-video__video-title">
              Дарья Соколова
            </p>

          </div>
        </div>

      </div>
      <div class="swiper-pagination swiper-reviews-video__swiper-pagination"></div>
    </div>
    <!-- навигация -->
    <div class="swiper-reviews-video__swiper-button-next swiper-button-next">
    </div>
    <div class="swiper-reviews-video__swiper-button-prev swiper-button-prev">
    </div>
  </div>


  </div>

</section>




{% endblock %}