{% set title = "Услуги" %}
{% set bodyClass = "is-services-page" %}

{% extends "html/layouts/default.html" %}

{% block content %}


<section class="services-page">
  <div class="container">
    {% include "html/includes/breadcrumbs.html" %}
    <h1 class="title">
      <span class="title-bg">Услуги</span>
    </h1>

    <div class="services-page__text-box">
      <p class="services-page__text">
        Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства. Обо всех
        возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
      </p>
      <p class="services-page__text">
        Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства. Обо всех
        возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
      </p>
    </div>


    <ul class="services-page__list">
      <a href="" class="services-page__item">
        <img class="services-page__img" src="assets/img/services1.svg" alt="">
        <p class="services-page__item-text">
          Бесплатная <br>
          консультация
        </p>
      </a>
      <a href="" class="services-page__item">
        <img class="services-page__img" src="assets/img/services2.svg" alt="">
        <p class="services-page__item-text">
          Банкротство физических лиц с ипотекой
        </p>
      </a>
      <a href="" class="services-page__item">
        <img class="services-page__img" src="assets/img/services3.svg" alt="">
        <p class="services-page__item-text">
          Банкротство поручителя физического лица
        </p>
      </a>
      <a href="" class="services-page__item">
        <img class="services-page__img" src="assets/img/services4.svg" alt="">
        <p class="services-page__item-text">
          Внесудебное банкротство физических лиц
        </p>
      </a>
      <a href="" class="services-page__item">
        <img class="services-page__img" src="assets/img/services5.svg" alt="">
        <p class="services-page__item-text">
          Упрощенная процедура банкротства
        </p>
      </a>
      <a href="" class="services-page__item">
        <img class="services-page__img" src="assets/img/services6.svg" alt="">
        <p class="services-page__item-text">
          Списание долгов по кредитам
        </p>
      </a>

    </ul>


  </div>
</section>

<section class="white section">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="title marker subtitle">
        <span class="title-bg">Услуги и </span> цены
      </h2>
      <a class="title-wrapper__link" href="">
        Все услуги
      </a>
    </div>

    <ul class="price">
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
      </li>

    </ul>


  </div>
</section>

<div class="container">
  <hr class="border">
</div>

<section class="white section">
  <div class="container border">
    <div class="trust">
      <div class="trust__block">
        <h2 class="title marker">
          <span class="title-bg">Почему </span> стоит довериться нам
        </h2>
        <p class="trust__text">
          Благодаря большому опыту
          и продолжительной эффективной работе, мы изучили все нюансы законодательства.
        </p>
        <p class="trust__text">
          Обо всех возможностях положительного решения вашего вопроса мы ознакомим Вас на <a class="trust__link"
            href="">бесплатной консультации</a> в
          нашем
          офисе.
        </p>
      </div>
      <ul class="trust__list">
        <li class="trust__item">
          <p class="trust__item-title">
            150 дел
          </p>
          <p class="trust__item-text">
            Мы возлагаем на себя всю работу
            с финансовыми организаиями вместо Вас
          </p>
        </li>
        <li class="trust__item">
          <p class="trust__item-title">
            Свой
          </p>
          <p class="trust__item-text">
            Мы возлагаем на себя всю работу
            с финансовыми организаиями вместо Вас
          </p>
        </li>
        <li class="trust__item">
          <p class="trust__item-title">
            Под ключ
          </p>
          <p class="trust__item-text">
            Мы возлагаем на себя всю работу
            с финансовыми организаиями вместо Вас
          </p>
        </li>
        <li class="trust__item">
          <p class="trust__item-title">
            Без доплат
          </p>
          <p class="trust__item-text">
            Мы возлагаем на себя всю работу
            с финансовыми организаиями вместо Вас
          </p>
        </li>

      </ul>
    </div>
  </div>
</section>


{% endblock %}