{% set title = "Банкротство" %}
{% set bodyClass = "is-serv-desc" %}

{% extends "html/layouts/default.html" %}

{% block content %}


<section class="serv-desc-page gray section">
  <div class="container">
    {% include "html/includes/breadcrumbs.html" %}
    <h1 class="title">
      <span class="title-bg">Банкротство физических </span>лиц с ипотекой
    </h1>

    <div class="services-page__text-box">
      <p class="services-page__text">
        Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства. Обо всех
        возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
      </p>
      <p class="services-page__text">
        Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства. Обо всех
        возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
      </p>
    </div>


    <div class="serv-desc-page__box">
      <h3 class="serv-desc-page__box-title">
        Процедура банкротства для ИП
      </h3>

      <div class="services-page__text-box">
        <p class="services-page__text">
          Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства. Обо
          всех
          возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
        </p>
        <p class="services-page__text">
          Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства. Обо
          всех
          возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
        </p>

        <ul class="articles-page__toc-list">
          <li class="articles-page__toc-item">
            <p class="articles-page__toc-text">
              Как работает ФЗ о банкротстве физических лиц. Изменения и поправки к закону о банкротстве физических лиц.
            </p>
          </li>
          <li class="articles-page__toc-item">
            <p class="articles-page__toc-text">
              Как работает ФЗ о банкротстве физических лиц. Изменения и поправки к закону о банкротстве физических лиц.
            </p>

            <ul class="articles-page__toc-list sublist">
              <li class="articles-page__toc-item">
                <p class="articles-page__toc-text">
                  Как работает ФЗ о банкротстве физических лиц. Изменения и поправки к закону о банкротстве физических
                  лиц.
                </p>
              </li>
              <li class="articles-page__toc-item">
                <p class="articles-page__toc-text">
                  Как работает ФЗ о банкротстве физических лиц. Изменения и поправки к закону о банкротстве физических
                  лиц.
                </p>
              </li>
            </ul>
          </li>

          <li class="articles-page__toc-item">
            <p class="articles-page__toc-text">
              Как работает ФЗ о банкротстве физических лиц. Изменения и поправки к закону о банкротстве физических лиц.
            </p>
          </li>

          <li class="articles-page__toc-item">
            <p class="articles-page__toc-text">
              Как работает ФЗ о банкротстве физических лиц. Изменения и поправки к закону о банкротстве физических лиц.
            </p>
          </li>
        </ul>
      </div>


    </div>
</section>


<section class="serv-desc-page">
  <div class="container">
    <div class="serv-desc-page__btn-box">
      <p class="serv-desc-page__btn-text">
        Конечная цена зависит от особенностей тяжбы и уникальности каждого судебного спора
      </p>
      <button class="serv-desc-page__btn">
        Оставить заявку на консультацию
      </button>
    </div>





    <div class="title-wrapper">
      <h2 class="title">
        <span class="title-bg">Арбитражные управляющие
      </h2>
      <a class="title-wrapper__link" href="">
        Все арбитражные управляющие
      </a>
    </div>

  </div>

  <div class="container--swiper staff ">


    <div class="swiper swiper-staff">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="staff__card">
            <img class="staff__card-img" src="assets/img/staff1.jpg" alt="">
            <div class="staff__card-content">
              <p class="staff__card-title">
                Дарья Соколова
              </p>
              <div class="staff__card-desc-box">
                <p class="staff__card-desc">
                  100 завершенных
                </p>
                <p class="staff__card-desc">
                  100 в процессе
                </p>
              </div>

              <p class="staff__card-en">
                МГУ им. М.В. Ломоносова (“Юриспруденция”
                Российский экономический университет им. Г.В. Плеханова (“Финансы и кредит”)
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="staff__card">
            <img class="staff__card-img" src="assets/img/staff1.jpg" alt="">
            <div class="staff__card-content">
              <p class="staff__card-title">
                Дарья Соколова
              </p>
              <div class="staff__card-desc-box">
                <p class="staff__card-desc">
                  100 завершенных
                </p>
                <p class="staff__card-desc">
                  100 в процессе
                </p>
              </div>

              <p class="staff__card-en">
                МГУ им. М.В. Ломоносова (“Юриспруденция”
                Российский экономический университет им. Г.В. Плеханова (“Финансы и кредит”)
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="staff__card">
            <img class="staff__card-img" src="assets/img/staff1.jpg" alt="">
            <div class="staff__card-content">
              <p class="staff__card-title">
                Дарья Соколова
              </p>
              <div class="staff__card-desc-box">
                <p class="staff__card-desc">
                  100 завершенных
                </p>
                <p class="staff__card-desc">
                  100 в процессе
                </p>
              </div>

              <p class="staff__card-en">
                МГУ им. М.В. Ломоносова (“Юриспруденция”
                Российский экономический университет им. Г.В. Плеханова (“Финансы и кредит”)
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="staff__card">
            <img class="staff__card-img" src="assets/img/staff1.jpg" alt="">
            <div class="staff__card-content">
              <p class="staff__card-title">
                Дарья Соколова
              </p>
              <div class="staff__card-desc-box">
                <p class="staff__card-desc">
                  100 завершенных
                </p>
                <p class="staff__card-desc">
                  100 в процессе
                </p>
              </div>

              <p class="staff__card-en">
                МГУ им. М.В. Ломоносова (“Юриспруденция”
                Российский экономический университет им. Г.В. Плеханова (“Финансы и кредит”)
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="staff__card">
            <img class="staff__card-img" src="assets/img/staff1.jpg" alt="">
            <div class="staff__card-content">
              <p class="staff__card-title">
                Дарья Соколова
              </p>
              <div class="staff__card-desc-box">
                <p class="staff__card-desc">
                  100 завершенных
                </p>
                <p class="staff__card-desc">
                  100 в процессе
                </p>
              </div>

              <p class="staff__card-en">
                МГУ им. М.В. Ломоносова (“Юриспруденция”
                Российский экономический университет им. Г.В. Плеханова (“Финансы и кредит”)
              </p>
            </div>
          </div>

        </div>
        <div class="swiper-slide">
          <div class="staff__card">
            <img class="staff__card-img" src="assets/img/staff1.jpg" alt="">
            <div class="staff__card-content">
              <p class="staff__card-title">
                Дарья Соколова
              </p>
              <div class="staff__card-desc-box">
                <p class="staff__card-desc">
                  100 завершенных
                </p>
                <p class="staff__card-desc">
                  100 в процессе
                </p>
              </div>

              <p class="staff__card-en">
                МГУ им. М.В. Ломоносова (“Юриспруденция”
                Российский экономический университет им. Г.В. Плеханова (“Финансы и кредит”)
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination  swiper-staff__swiper-pagination"></div>
    </div>

    <div class="swiper-navigation">
      <div class="swiper-button-prev swiper-staff__swiper-button-prev"></div>
      <div class="swiper-button-next swiper-staff__swiper-button-next"></div>
    </div>
  </div>
</section>


<section class="gray section">
  <div class="container">

    <div class="title-wrapper">
      <h2 class="title">
        <span class="title-bg">Отзывы</span>
      </h2>
      <a class="title-wrapper__link" href="">
        Все отзывы
      </a>
    </div>

  </div>
  <div class="container--swiper reviews ">
    <div class="swiper swiper-reviews">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="reviews__card">
            <div class="reviews__content-box">
              <div class="reviews__top">
                <img class="reviews__img" src="assets/img/reviews.jpg" alt="">
                <div class="reviews__name-box">
                  <p class="reviews__name">
                    Николай Андреев
                  </p>

                  <p class="reviews__city">
                    г.Орел
                  </p>
                </div>
              </div>
              <p class="reviews__text">
                «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
                труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
                предоставляет много услуг.
                предоставляет много услуг.
              </p>

              <a class="reviews__btn btn" href="">
                Подробнее
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__card">
            <div class="reviews__content-box">
              <div class="reviews__top">
                <img class="reviews__img" src="assets/img/reviews.jpg" alt="">
                <div class="reviews__name-box">
                  <p class="reviews__name">
                    Николай Андреев
                  </p>

                  <p class="reviews__city">
                    г.Орел
                  </p>
                </div>
              </div>
              <p class="reviews__text">
                «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
                труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
                предоставляет много услуг.
                предоставляет много услуг.
              </p>

              <a class="reviews__btn btn" href="">
                Подробнее
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__card">
            <div class="reviews__content-box">
              <div class="reviews__top">
                <img class="reviews__img" src="assets/img/reviews.jpg" alt="">
                <div class="reviews__name-box">
                  <p class="reviews__name">
                    Николай Андреев
                  </p>

                  <p class="reviews__city">
                    г.Орел
                  </p>
                </div>
              </div>
              <p class="reviews__text">
                «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
                труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
                предоставляет много услуг.
                предоставляет много услуг.
              </p>

              <a class="reviews__btn btn" href="">
                Подробнее
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__card">
            <div class="reviews__content-box">
              <div class="reviews__top">
                <img class="reviews__img" src="assets/img/reviews.jpg" alt="">
                <div class="reviews__name-box">
                  <p class="reviews__name">
                    Николай Андреев
                  </p>

                  <p class="reviews__city">
                    г.Орел
                  </p>
                </div>
              </div>
              <p class="reviews__text">
                «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
                труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
                предоставляет много услуг.
                предоставляет много услуг.
              </p>

              <a class="reviews__btn btn" href="">
                Подробнее
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__card">
            <div class="reviews__content-box">
              <div class="reviews__top">
                <img class="reviews__img" src="assets/img/reviews.jpg" alt="">
                <div class="reviews__name-box">
                  <p class="reviews__name">
                    Николай Андреев
                  </p>

                  <p class="reviews__city">
                    г.Орел
                  </p>
                </div>
              </div>
              <p class="reviews__text">
                «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
                труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
                предоставляет много услуг.
                предоставляет много услуг.
              </p>

              <a class="reviews__btn btn" href="">
                Подробнее
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-reviews__swiper-pagination"></div>
    </div>
    <!-- навигация -->
    <div class="swiper-reviews__swiper-button-next swiper-button-next">
    </div>
    <div class="swiper-reviews__swiper-button-prev swiper-button-prev">
    </div>
  </div>


  </div>

</section>

<section class=" section">
  <div class="container">

    <div class="title-wrapper">
      <h2 class="title subtitle">
        <span class="title-bg">Мы сотрудничаем
      </h2>

    </div>

  </div>

  <div class="container--swiper partners ">


    <div class="swiper swiper-partners">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="partners__card">
            <img class="partners__card-img" src="assets/img/partners.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__card">
            <img class="partners__card-img" src="assets/img/partners.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__card">
            <img class="partners__card-img" src="assets/img/partners.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__card">
            <img class="partners__card-img" src="assets/img/partners.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__card">
            <img class="partners__card-img" src="assets/img/partners.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__card">
            <img class="partners__card-img" src="assets/img/partners.jpg" alt="">
          </div>
        </div>

      </div>
      <div class="swiper-pagination  swiper-partners__swiper-pagination"></div>

      <!-- <div class="swiper-navigation">
        <div class="swiper-button-prev swiper-staff__swiper-button-prev"></div>
        <div class="swiper-button-next swiper-staff__swiper-button-next"></div>
      </div> -->
    </div>

    <div class="swiper-partners__swiper-button-next swiper-button-next">
    </div>
    <div class="swiper-partners__swiper-button-prev swiper-button-prev">
    </div>
  </div>
</section>



{% endblock %}