{% set title = "Цены" %}
{% set bodyClass = "is-price-page" %}

{% extends "html/layouts/default.html" %}

{% block content %}


<section class="services-page">
  <div class="container">
    {% include "html/includes/breadcrumbs.html" %}
    <h1 class="title">
      <span class="title-bg">Сколько стоит </span>процедура банкротства
    </h1>

    <div class="services-page__text-box">
      <p class="services-page__text">
        Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства. Обо всех
        возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
      </p>
      <p class="services-page__text">
        Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства. Обо всех
        возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
      </p>
    </div>




    <ul class="accordion" id="accordion" class="accordionjs">


      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
        <div>
          <div class="accordion__open">
            <ul class="accordion__open-list">
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы
                законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в
                нашем
                офисе.
              </li>
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы
                законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в
                нашем
                офисе.
              </li>
            </ul>
            <a class="accordion__open-link" href="">
              Подробнее об услуге
            </a>
          </div>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
        <div>
          <div class="accordion__open">
            <ul class="accordion__open-list">
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы
                законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в
                нашем
                офисе.
              </li>
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы
                законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в
                нашем
                офисе.
              </li>
            </ul>
            <a class="accordion__open-link" href="">
              Подробнее об услуге
            </a>
          </div>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
        <div>
          <div class="accordion__open">
            <ul class="accordion__open-list">
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы
                законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в
                нашем
                офисе.
              </li>
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы
                законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в
                нашем
                офисе.
              </li>
            </ul>
            <a class="accordion__open-link" href="">
              Подробнее об услуге
            </a>
          </div>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
        <div>
          <div class="accordion__open">
            <ul class="accordion__open-list">
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы
                законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в
                нашем
                офисе.
              </li>
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы
                законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в
                нашем
                офисе.
              </li>
            </ul>
            <a class="accordion__open-link" href="">
              Подробнее об услуге
            </a>
          </div>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
        <div>
          <div class="accordion__open">
            <ul class="accordion__open-list">
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы
                законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в
                нашем
                офисе.
              </li>
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы
                законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в
                нашем
                офисе.
              </li>
            </ul>
            <a class="accordion__open-link" href="">
              Подробнее об услуге
            </a>
          </div>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
        <div>
          <div class="accordion__open">
            <ul class="accordion__open-list">
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы
                законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в
                нашем
                офисе.
              </li>
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы
                законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в
                нашем
                офисе.
              </li>
            </ul>
            <a class="accordion__open-link" href="">
              Подробнее об услуге
            </a>
          </div>
        </div>
      </li>

    </ul>

  </div>
</section>


{% endblock %}