{% set title = "Банкротство" %}
{% set bodyClass = "is-serv-desc" %}

{% extends "html/layouts/default.html" %}

{% block content %}


<section class="serv-desc-page gray section">
  <div class="container">
    {% include "html/includes/breadcrumbs.html" %}
    <h1 class="title">
      <span class="title-bg">Банкротство физических </span>лиц с ипотекой
    </h1>

    <div class="services-page__text-box">
      <p class="services-page__text">
        Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства. Обо всех
        возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
      </p>
      <p class="services-page__text">
        Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства. Обо всех
        возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
      </p>
    </div>


    <div class="serv-desc-page__box">
      <h3 class="serv-desc-page__box-title">
        Процедура банкротства для ИП
      </h3>

      <div class="services-page__text-box">
        <p class="services-page__text">
          Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства. Обо
          всех
          возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
        </p>
        <p class="services-page__text">
          Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства. Обо
          всех
          возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
        </p>

        <ul class="articles-page__toc-list">
          <li class="articles-page__toc-item">
            <p class="articles-page__toc-text">
              Как работает ФЗ о банкротстве физических лиц. Изменения и поправки к закону о банкротстве физических лиц.
            </p>
          </li>
          <li class="articles-page__toc-item">
            <p class="articles-page__toc-text">
              Как работает ФЗ о банкротстве физических лиц. Изменения и поправки к закону о банкротстве физических лиц.
            </p>

            <ul class="articles-page__toc-list sublist">
              <li class="articles-page__toc-item">
                <p class="articles-page__toc-text">
                  Как работает ФЗ о банкротстве физических лиц. Изменения и поправки к закону о банкротстве физических
                  лиц.
                </p>
              </li>
              <li class="articles-page__toc-item">
                <p class="articles-page__toc-text">
                  Как работает ФЗ о банкротстве физических лиц. Изменения и поправки к закону о банкротстве физических
                  лиц.
                </p>
              </li>
            </ul>
          </li>

          <li class="articles-page__toc-item">
            <p class="articles-page__toc-text">
              Как работает ФЗ о банкротстве физических лиц. Изменения и поправки к закону о банкротстве физических лиц.
            </p>
          </li>

          <li class="articles-page__toc-item">
            <p class="articles-page__toc-text">
              Как работает ФЗ о банкротстве физических лиц. Изменения и поправки к закону о банкротстве физических лиц.
            </p>
          </li>
        </ul>
      </div>


    </div>
</section>


<section class="serv-desc-page">
  <div class="container">
    <div class="serv-desc-page__btn-box">
      <p class="serv-desc-page__btn-text">
        Конечная цена зависит от особенностей тяжбы и уникальности каждого судебного спора
      </p>
      <button class="serv-desc-page__btn btn">
        Оставить заявку на консультацию
      </button>
    </div>





    <div class="title-wrapper">
      <h2 class="title">
        <span class="title-bg">Арбитражные управляющие
      </h2>
      <a class="title-wrapper__link" href="">
        Все арбитражные управляющие
      </a>
    </div>

  </div>

  {% include "html/includes/swiper-staff.html" %}
</section>


<section class="gray section">
  <div class="container">

    <div class="title-wrapper">
      <h2 class="title">
        <span class="title-bg">Отзывы</span>
      </h2>
      <a class="title-wrapper__link" href="">
        Все отзывы
      </a>
    </div>

  </div>


  {% include "html/includes/swiper-reviews.html" %}


</section>

<section class=" section">
  <div class="container">

    <div class="title-wrapper">
      <h2 class="title subtitle">
        <span class="title-bg">Мы сотрудничаем
      </h2>

    </div>

  </div>
{% include "html/includes/swiper-partners.html" %}

</section>



{% endblock %}