{% set title = "Отзывы клиентов" %}
{% set bodyClass = "is-reviews-page" %}

{% extends "html/layouts/default.html" %}

{% block content %}


<section class="serv-desc-page gray section">
  <div class="container">
    {% include "html/includes/breadcrumbs.html" %}
    <h1 class="title">
      <span class="title-bg">Отзывы клиентов </span>
    </h1>

    <div class="services-page__text-box">
      <p class="services-page__text">
        Текст про отзывы вообще и про наши в частности..... эффективной работе, мы изучили все нюансы законодательства.
        возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
      </p>
      <p class="services-page__text">
        Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства. Обо всех
        возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
      </p>
    </div>


    <div class="reviews-page__list">
      <div class="reviews-page__item">

        {% include "html/includes/reviews-card.html" %}
      </div>

      <div class="reviews-page__item">
        {% include "html/includes/reviews-card.html" %}
      </div>
      <div class="reviews-page__item">
        {% include "html/includes/reviews-card.html" %}
      </div>
      <div class="reviews-page__item">
        {% include "html/includes/reviews-card.html" %}
      </div>
      <div class="reviews-page__item">
        {% include "html/includes/reviews-card.html" %}
      </div>
      <div class="reviews-page__item">
        {% include "html/includes/reviews-card.html" %}
      </div>
      <div class="reviews-page__item">
        {% include "html/includes/reviews-card.html" %}
      </div>
      <div class="reviews-page__item">
        {% include "html/includes/reviews-card.html" %}
      </div>
      <div class="reviews-page__item">
        {% include "html/includes/reviews-card.html" %}
      </div>
    </div>
    <button class="cases-page__btn">
      Показать еще
    </button>

  </div>
</section>


<section class="reviews-page white section">
  <div class="container">

    <div class="reviews-page__title-box">
      <h2 class="reviews-page__subtitle">
        Оставьте отзыв о нашей работе на одном из сайтов
      </h2>

      <p class="reviews-page__text ">
        Большое спасибо за вашу оценку предоставленной консультации во время звонка из департамента качества.
        Пожалуйста,
        напишите пару слов о нашей работе на одном из этих сайтов по сбору отзывов.
      </p>
    </div>


    <div class="reviews-page__site-list ">
      <a href="" class="reviews-page__site-card">
        <img src="assets/img/2gis.svg" alt="2gis">

        <div class="reviews-page__site-stars">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/stargr.svg" alt="">
        </div>

        <p class="reviews-page__site-text">
          128 отзывов
        </p>
      </a>

      <a href="" class="reviews-page__site-card">
        <img src="assets/img/google.svg" alt="google">

        <div class="reviews-page__site-stars">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/stargr.svg" alt="">
        </div>

        <p class="reviews-page__site-text">
          128 отзывов
        </p>
      </a>

      <a href="" class="reviews-page__site-card">
        <img src="assets/img/ya.svg" alt="ya.ru">

        <div class="reviews-page__site-stars">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/stargr.svg" alt="">
        </div>

        <p class="reviews-page__site-text">
          128 отзывов
        </p>
      </a>
      <a href="" class="reviews-page__site-card">
        <img src="assets/img/yas.svg" alt="yas">

        <div class="reviews-page__site-stars">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/stargr.svg" alt="">
        </div>

        <p class="reviews-page__site-text">
          128 отзывов
        </p>
      </a>
      <a href="" class="reviews-page__site-card">
        <img src="assets/img/otzovik.svg" alt="otzovik">

        <div class="reviews-page__site-stars">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/stargr.svg" alt="">
        </div>

        <p class="reviews-page__site-text">
          128 отзывов
        </p>
      </a>
      <a href="" class="reviews-page__site-card">
        <img src="assets/img/flamp.svg" alt="flamp">

        <div class="reviews-page__site-stars">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/stargr.svg" alt="">
        </div>

        <p class="reviews-page__site-text">
          128 отзывов
        </p>
      </a>
      <a href="" class="reviews-page__site-card">
        <img src="assets/img/zoom.svg" alt="zoom">

        <div class="reviews-page__site-stars">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/starg.svg" alt="">
          <img src="assets/img/stargr.svg" alt="">
        </div>

        <p class="reviews-page__site-text">
          128 отзывов
        </p>
      </a>
    </div>
  </div>


</section>



<section class="gray section">
  <div class="container">

    <div class="title-wrapper">
      <h2 class="title">
        <span class="title-bg">Видео-отзывы</span>
      </h2>

    </div>

  </div>

  {% include "html/includes/reviews-video.html" %}


  </div>

</section>

<div class="modal-bg d-n">
  <div class="reviews__card modal">
    <div class="reviews__content-box">

      <div class="reviews__card-modal-close-box">
        <a href="">
          <img src="assets/img/ya.svg" alt="">

        </a>
        <button class="reviews__card-modal-close">
          <img class="svg" src="assets/img/modal-close.svg" alt="">
        </button>
      </div>


      <div class="reviews__top">
        <img class="reviews__img" src="assets/img/reviews.jpg" alt="">
        <div class="reviews__name-box">
          <div class="reviews-page__site-stars">
            <img src="assets/img/starg.svg" alt="">
            <img src="assets/img/starg.svg" alt="">
            <img src="assets/img/starg.svg" alt="">
            <img src="assets/img/starg.svg" alt="">
            <img src="assets/img/stargr.svg" alt="">
          </div>
          <p class="reviews__name">
            Николай Андреев
          </p>

          <p class="reviews__city">
            г.Орел
          </p>
        </div>
      </div>
      <p class="reviews__text">
        «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
        труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
        предоставляет много услуг.
        предоставляет много услуг.
      </p>
      <p class="reviews__text">
        «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
        труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
        предоставляет много услуг.
        предоставляет много услуг.
      </p>


      <div class="reviews__card-modal-bottom">
        <p class="reviews__card-modal-date">
          25 Мая 2022
        </p>
        <a class="reviews__card-modal-link" href="">
          Оригинал отзыва
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}