{% set title = "Описание изобретения" %}
{% set bodyClass = "is-new-page" %}

{% extends "html/layouts/default.html" %}

{% block content %}


<section class="new-page">
  <div class="container">
    {% include "html/includes/breadcrumbs.html" %}

    <div class="new-page__img-box">
      <img src="assets/img/new.jpg" alt="">
    </div>
    <div class="title-wrapper date">
      <h2 class="title">
        <span class="title-bg">Популярные статьи</span>
      </h2>
      <span class="title-wrapper__date">
        15.03.2023
        </a>
    </div>


    <ul class="cases-page__list">
      <li class="cases-page__item">
        <div class="articles__card">
          <img class="articles__img" src="assets/img/articles.jpg" alt="">
          <div class="articles__content">
            <p class="articles__title">
              Утверждено мировое соглашение
              Утверждено мировое соглашение
              Утверждено мировое соглашение
            </p>
            <p class="articles__desc">
              Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
              "Транснефти" и "Газпрома".
            </p>
            <p class="articles__date">
              25 Апреля 2022
            </p>
            <div class="articles__link-box">
              <a class="articles__link" href="">
                Читать дальше
              </a>
              <p class="articles__link-view">
                345
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="cases-page__item">
        <div class="articles__card">
          <img class="articles__img" src="assets/img/articles.jpg" alt="">
          <div class="articles__content">
            <p class="articles__title">
              Утверждено мировое соглашение
              Утверждено мировое соглашение
              Утверждено мировое соглашение
            </p>
            <p class="articles__desc">
              Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
              "Транснефти" и "Газпрома".
            </p>
            <p class="articles__date">
              25 Апреля 2022
            </p>
            <div class="articles__link-box">
              <a class="articles__link" href="">
                Читать дальше
              </a>
              <p class="articles__link-view">
                345
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="cases-page__item">
        <div class="articles__card">
          <img class="articles__img" src="assets/img/articles.jpg" alt="">
          <div class="articles__content">
            <p class="articles__title">
              Утверждено мировое соглашение
              Утверждено мировое соглашение
              Утверждено мировое соглашение
            </p>
            <p class="articles__desc">
              Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
              "Транснефти" и "Газпрома".
            </p>
            <p class="articles__date">
              25 Апреля 2022
            </p>
            <div class="articles__link-box">
              <a class="articles__link" href="">
                Читать дальше
              </a>
              <p class="articles__link-view">
                345
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="cases-page__item">
        <div class="articles__card">
          <img class="articles__img" src="assets/img/articles.jpg" alt="">
          <div class="articles__content">
            <p class="articles__title">
              Утверждено мировое соглашение
              Утверждено мировое соглашение
              Утверждено мировое соглашение
            </p>
            <p class="articles__desc">
              Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
              "Транснефти" и "Газпрома".
            </p>
            <p class="articles__date">
              25 Апреля 2022
            </p>
            <div class="articles__link-box">
              <a class="articles__link" href="">
                Читать дальше
              </a>
              <p class="articles__link-view">
                345
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="cases-page__item">
        <div class="articles__card">
          <img class="articles__img" src="assets/img/articles.jpg" alt="">
          <div class="articles__content">
            <p class="articles__title">
              Утверждено мировое соглашение
              Утверждено мировое соглашение
              Утверждено мировое соглашение
            </p>
            <p class="articles__desc">
              Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
              "Транснефти" и "Газпрома".
            </p>
            <p class="articles__date">
              25 Апреля 2022
            </p>
            <div class="articles__link-box">
              <a class="articles__link" href="">
                Читать дальше
              </a>
              <p class="articles__link-view">
                345
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="cases-page__item">
        <div class="articles__card">
          <img class="articles__img" src="assets/img/articles.jpg" alt="">
          <div class="articles__content">
            <p class="articles__title">
              Утверждено мировое соглашение
              Утверждено мировое соглашение
              Утверждено мировое соглашение
            </p>
            <p class="articles__desc">
              Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
              "Транснефти" и "Газпрома".
            </p>
            <p class="articles__date">
              25 Апреля 2022
            </p>
            <div class="articles__link-box">
              <a class="articles__link" href="">
                Читать дальше
              </a>
              <p class="articles__link-view">
                345
              </p>
            </div>
          </div>
        </div>
      </li>

    </ul>

    <button class="cases-page__btn">
      Показать еще
    </button>

  </div>
</section>

{% endblock %}