{% set title = "Выигранные дела" %}
{% set bodyClass = "is-cases-page" %}

{% extends "html/layouts/default.html" %}

{% block content %}


<section class="cases-page">
	<div class="container">
		{% include "html/includes/breadcrumbs.html" %}
		<h1 class="title">
			<span class="title-bg">Выигранные дела</span>
		</h1>

		<ul class="cases-page__list">
			<li class="cases-page__item">
				<div class="case__card">
					<img class="case__card-img" src="assets/img/case-img.jpg" alt="">
					<div class="case__card-content">
						<p class="case__card-name">
							Гурова Софья Андреевна
						</p>
						<div class="case__card-price-box">
							<p class="case__card-price-title">Сумма долга: </p>
							<p class="case__card-price">3 456 ₽</p>
						</div>
						<p class="case__card-decs">
							Гурова Софья Андреевна
						</p>
						<a class="case__card-btn" href="">
							Подробнее
						</a>
					</div>
				</div>
			</li>
			<li class="cases-page__item">
				<div class="case__card">
					<img class="case__card-img" src="assets/img/case-img.jpg" alt="">
					<div class="case__card-content">
						<p class="case__card-name">
							Гурова Софья Андреевна
						</p>
						<div class="case__card-price-box">
							<p class="case__card-price-title">Сумма долга: </p>
							<p class="case__card-price">3 456 ₽</p>
						</div>
						<p class="case__card-decs">
							Гурова Софья Андреевна
						</p>
						<a class="case__card-btn" href="">
							Подробнее
						</a>
					</div>
				</div>
			</li>
			<li class="cases-page__item">
				<div class="case__card">
					<img class="case__card-img" src="assets/img/case-img.jpg" alt="">
					<div class="case__card-content">
						<p class="case__card-name">
							Гурова Софья Андреевна
						</p>
						<div class="case__card-price-box">
							<p class="case__card-price-title">Сумма долга: </p>
							<p class="case__card-price">3 456 ₽</p>
						</div>
						<p class="case__card-decs">
							Гурова Софья Андреевна
						</p>
						<a class="case__card-btn" href="">
							Подробнее
						</a>
					</div>
				</div>
			</li>
			<li class="cases-page__item">
				<div class="case__card">
					<img class="case__card-img" src="assets/img/case-img.jpg" alt="">
					<div class="case__card-content">
						<p class="case__card-name">
							Гурова Софья Андреевна
						</p>
						<div class="case__card-price-box">
							<p class="case__card-price-title">Сумма долга: </p>
							<p class="case__card-price">3 456 ₽</p>
						</div>
						<p class="case__card-decs">
							Гурова Софья Андреевна
						</p>
						<a class="case__card-btn" href="">
							Подробнее
						</a>
					</div>
				</div>
			</li>
			<li class="cases-page__item">
				<div class="case__card">
					<img class="case__card-img" src="assets/img/case-img.jpg" alt="">
					<div class="case__card-content">
						<p class="case__card-name">
							Гурова Софья Андреевна Андреевна
						</p>
						<div class="case__card-price-box">
							<p class="case__card-price-title">Сумма долга: </p>
							<p class="case__card-price">3 456 ₽</p>
						</div>
						<p class="case__card-decs">
							Гурова Софья Андреевна
						</p>
						<a class="case__card-btn" href="">
							Подробнее
						</a>
					</div>
				</div>
			</li>
			<li class="cases-page__item">
				<div class="case__card">
					<img class="case__card-img" src="assets/img/case-img.jpg" alt="">
					<div class="case__card-content">
						<p class="case__card-name">
							Гурова Софья Андреевна
						</p>
						<div class="case__card-price-box">
							<p class="case__card-price-title">Сумма долга: </p>
							<p class="case__card-price">3 456 ₽</p>
						</div>
						<p class="case__card-decs">
							Гурова Софья Андреевна
						</p>
						<a class="case__card-btn" href="">
							Подробнее
						</a>
					</div>
				</div>
			</li>
			<li class="cases-page__item">
				<div class="case__card">
					<img class="case__card-img" src="assets/img/case-img.jpg" alt="">
					<div class="case__card-content">
						<p class="case__card-name">
							Гурова Софья Андреевна
						</p>
						<div class="case__card-price-box">
							<p class="case__card-price-title">Сумма долга: </p>
							<p class="case__card-price">3 456 ₽</p>
						</div>
						<p class="case__card-decs">
							Гурова Софья Андреевна
						</p>
						<a class="case__card-btn" href="">
							Подробнее
						</a>
					</div>
				</div>
			</li>
			<li class="cases-page__item">
				<div class="case__card">
					<img class="case__card-img" src="assets/img/case-img.jpg" alt="">
					<div class="case__card-content">
						<p class="case__card-name">
							Гурова Софья Андреевна
						</p>
						<div class="case__card-price-box">
							<p class="case__card-price-title">Сумма долга: </p>
							<p class="case__card-price">3 456 ₽</p>
						</div>
						<p class="case__card-decs">
							Гурова Софья Андреевна
						</p>
						<a class="case__card-btn" href="">
							Подробнее
						</a>
					</div>
				</div>
			</li>

		</ul>

		<button class="cases-page__btn">
			Показать еще
		</button>

	</div>
</section>

{% endblock %}