{% set title = "Описание изобретения" %}
{% set bodyClass = "is-new-page" %}

{% extends "html/layouts/default.html" %}

{% block content %}


<section class="new-page">
  <div class="container">
    {% include "html/includes/breadcrumbs.html" %}

    <div class="new-page__img-box">
      <img src="assets/img/new.jpg" alt="">
    </div>
    <div class="title-wrapper date">
      <h2 class="title">
        <span class="title-bg">Популярные статьи</span>
      </h2>
      <span class="title-wrapper__date">
        15.03.2023
        </a>
    </div>
    <div class="new-page__text-box">
      <p class="new-page__text">
        Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства. Обо всех
        возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
      </p>
      <p class="new-page__text">
        Благодаря <a class="new-page__link" href="http://">большому опыту</a> и продолжительной эффективной работе, мы
        изучили все нюансы законодательства. Обо всех
        возможностях положительного решения вашего вопроса мы ознакомим Вас на <strong>бесплатной консультации</strong>
        в нашем офисе.
      </p>
    </div>


  </div>
</section>


<section class="gray section">
  <div class="container">

    <div class="title-wrapper">
      <h2 class="title subtitle">
        <span class="title-bg">Последние новости</span>
      </h2>
      <a class="title-wrapper__link" href="">
        Все новости
      </a>
    </div>

  </div>

<div class="container--swiper articles">
  <div class=" swiper swiper-articles ">
    <div class="swiper-wrapper ">
      <div class="swiper-slide">
        <div href="" class="articles__card">
          <a href="">
            <img class="articles__img" src="assets/img/articles.jpg" alt="">
          </a>
          <div class="articles__content">
            <a href="" class="articles__title">
              Утверждено мировое соглашение
            </a>
            <p class="articles__desc">
              Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
              "Транснефти" и "Газпрома".
            </p>
            <p class="articles__date">
              25 Апреля 2022
            </p>
            <div class="articles__link-box">
              <a href="" class="articles__link">
                Читать дальше
              </a>
              <p class="articles__link-view">
                345
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div href="" class="articles__card">
          <a href="">
            <img class="articles__img" src="assets/img/articles.jpg" alt="">
          </a>
          <div class="articles__content">
            <a href="" class="articles__title">
              Утверждено мировое соглашение
            </a>
            <p class="articles__desc">
              Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
              "Транснефти" и "Газпрома".
            </p>
            <p class="articles__date">
              25 Апреля 2022
            </p>
            <div class="articles__link-box">
              <a href="" class="articles__link">
                Читать дальше
              </a>
              <p class="articles__link-view">
                345
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div href="" class="articles__card">
          <a href="">
            <img class="articles__img" src="assets/img/articles.jpg" alt="">
          </a>
          <div class="articles__content">
            <a href="" class="articles__title">
              Утверждено мировое соглашение
            </a>
            <p class="articles__desc">
              Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
              "Транснефти" и "Газпрома".
            </p>
            <p class="articles__date">
              25 Апреля 2022
            </p>
            <div class="articles__link-box">
              <a href="" class="articles__link">
                Читать дальше
              </a>
              <p class="articles__link-view">
                345
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div href="" class="articles__card">
          <a href="">
            <img class="articles__img" src="assets/img/articles.jpg" alt="">
          </a>
          <div class="articles__content">
            <a href="" class="articles__title">
              Утверждено мировое соглашение
            </a>
            <p class="articles__desc">
              Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
              "Транснефти" и "Газпрома".
            </p>
            <p class="articles__date">
              25 Апреля 2022
            </p>
            <div class="articles__link-box">
              <a href="" class="articles__link">
                Читать дальше
              </a>
              <p class="articles__link-view">
                345
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="swiper-pagination swiper-articles__swiper-pagination"></div>
  </div>
  <!-- навигация -->
  <div class="swiper-articles__swiper-button-next swiper-button-next">
  </div>
  <div class="swiper-articles__swiper-button-prev swiper-button-prev">
  </div>
</div>


  </div>

</section>

{% endblock %}