{% set title = "Главная" %}
{% set bodyClass = "is-main" %}

{% extends "html/layouts/default.html" %}

{% block content %}

<section class="banner">
  <div class="container">
    <div class="banner__content">
      <h1 class="banner__title">
        <span class="title-bg">
          Банкротство</span> физических лиц под ключ
      </h1>
      <ul class="banner__list">
        <li class="banner__item">
          <p class="banner__item-text">
            Списывем задолженности по кредитам, ЖКХ, налогам
          </p>
        </li>
        <li class="banner__item">
          <p class="banner__item-text">
            Даем гарантию, фиксируем это в договоре
          </p>
        </li>
        <li class="banner__item">
          <p class="banner__item-text">
            Работаем со всеми регионами России
          </p>
        </li>
        <li class="banner__item">
          <p class="banner__item-text">
            Рассрочка оплаты, скидки пенсионерам
          </p>
        </li>
      </ul>

      <button class="banner__btn btn">
        Бесплатная консультация
      </button>
    </div>
  </div>
</section>

<section class="gray section">
  <div class="container">

    <h2 class="title">
      <span class="title-bg">Успешный опыт банкротства</span> более 9 лет
    </h2>
  </div>

  <div class="container experience">
    <div class="swiper-trigger">
      <div class="swiper-wrapper experience__list">
        <div class="swiper-slide">
          <div class="experience__item">
            <div class="experience__img-box">
              <img src="assets/img/experience1.svg">
            </div>
            <div class="experience__item-box">
              <p class="experience__item-title">
                +10 000
              </p>
              <p class="experience__item-desc">
                Арбитражных управляющих
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="experience__item">
            <div class="experience__img-box">
              <img src="assets/img/experience2.svg">
            </div>
            <div class="experience__item-box">
              <p class="experience__item-title">
                +4 200
              </p>
              <p class="experience__item-desc">
                Рассмотрено заявок
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="experience__item">
            <div class="experience__img-box">
              <img src="assets/img/experience3.svg">
            </div>
            <div class="experience__item-box">
              <p class="experience__item-title">
                +3 200
              </p>
              <p class="experience__item-desc">
                Дел
                в производстве
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="experience__item">
            <div class="experience__img-box">
              <img src="assets/img/experience4.svg">
            </div>
            <div class="experience__item-box">
              <p class="experience__item-title">
                +2 500
              </p>
              <p class="experience__item-desc">
                Дел завершено
              </p>
            </div>
          </div>

        </div>
        <div class="swiper-slide">
          <div class="experience__item">
            <div class="experience__img-box">
              <img src="assets/img/experience5.svg">
            </div>
            <div class="experience__item-box">
              <p class="experience__item-title">
                +100
              </p>
              <p class="experience__item-desc">
                Процентная
                конфиденциальность
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-experience__swiper-pagination"></div>
    </div>
  </div>

</section>


<section class="white section">
  <div class="container">
    <div class="trust">
      <div class="trust__block">
        <h2 class="title marker">
          <span class="title-bg">Почему </span> стоит довериться нам
        </h2>
        <p class="trust__text">
          Благодаря большому опыту
          и продолжительной эффективной работе, мы изучили все нюансы законодательства.
        </p>
        <p class="trust__text">
          Обо всех возможностях положительного решения вашего вопроса мы ознакомим Вас на <a class="trust__link"
            href="">бесплатной консультации</a> в
          нашем
          офисе.
        </p>
      </div>
      <ul class="trust__list">
        <li class="trust__item">
          <p class="trust__item-title">
            150 дел
          </p>
          <p class="trust__item-text">
            Мы возлагаем на себя всю работу
            с финансовыми организаиями вместо Вас
          </p>
        </li>
        <li class="trust__item">
          <p class="trust__item-title">
            Свой
          </p>
          <p class="trust__item-text">
            Мы возлагаем на себя всю работу
            с финансовыми организаиями вместо Вас
          </p>
        </li>
        <li class="trust__item">
          <p class="trust__item-title">
            Под ключ
          </p>
          <p class="trust__item-text">
            Мы возлагаем на себя всю работу
            с финансовыми организаиями вместо Вас
          </p>
        </li>
        <li class="trust__item">
          <p class="trust__item-title">
            Без доплат
          </p>
          <p class="trust__item-text">
            Мы возлагаем на себя всю работу
            с финансовыми организаиями вместо Вас
          </p>
        </li>

      </ul>
    </div>
  </div>
</section>


<section class="gray section">
  <div class="container">
    <div class="stages">
      <div class="stages__title-box">
        <h2 class="title">
          <span class="title-bg">Как мы работаем</span>
        </h2>
        <p class="stages__desc">
          Мы доводим ваше дело до успешного финала - <span>списания долгов</span>
        </p>
      </div>
      <div class="stages__list-wrapper">
        <ul class="stages__list">
          <li class="stages__item">
            <img class="stages__marker" src="assets/img/1.svg">
            <p class="stages__text">
              Бесплатная консультация,
              включающая финансовый
              анализ
            </p>
          </li>
          <li class="stages__item">
            <img class="stages__marker" src="assets/img/2.svg">
            <p class="stages__text">
              Заключение договора
              и оформление
              нотариальной
              доверенности
            </p>
          </li>
          <li class="stages__item">
            <img class="stages__marker" src="assets/img/3.svg">
            <p class="stages__text">
              Вам назначается
              персональный менеджер,
              финансовый управляющий
            </p>
          </li>
          <li class="stages__item">
            <img class="stages__marker" src="assets/img/4.svg">
            <p class="stages__text">
              Подготовка пакета документов, представление ваших интересов в суде и на собрании кредиторов
            </p>
          </li>
          <li class="stages__item">
            <img class="stages__marker" src="assets/img/5.svg">
            <p class="stages__text">
              Списание долгов и достижение требуемого результата!
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>



<section class="white section">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="title marker">
        <span class="title-bg">Услуги и </span> цены
      </h2>
      <a class="title-wrapper__link" href="">
        Все услуги
      </a>
    </div>




    <ul class="price">
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
      </li>

    </ul>

  </div>
</section>

<section class="gray section">
  <div class="container">

    <div class="title-wrapper staff__title">
      <h2 class="title">
        <span class="title-bg">Арбитражные управляющие
      </h2>
      <a class="title-wrapper__link" href="">
        Все арбитражные управляющие
      </a>
    </div>

  </div>

  <div class="container--swiper staff ">


    <div class="swiper swiper-staff">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="staff__card">
            <img class="staff__card-img" src="assets/img/staff1.jpg" alt="">
            <div class="staff__card-content">
              <p class="staff__card-title">
                Дарья Соколова
              </p>
              <div class="staff__card-desc-box">
                <p class="staff__card-desc">
                  100 завершенных
                </p>
                <p class="staff__card-desc">
                  100 в процессе
                </p>
              </div>

              <p class="staff__card-en">
                МГУ им. М.В. Ломоносова (“Юриспруденция”
                Российский экономический университет им. Г.В. Плеханова (“Финансы и кредит”)
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="staff__card">
            <img class="staff__card-img" src="assets/img/staff1.jpg" alt="">
            <div class="staff__card-content">
              <p class="staff__card-title">
                Дарья Соколова
              </p>
              <div class="staff__card-desc-box">
                <p class="staff__card-desc">
                  100 завершенных
                </p>
                <p class="staff__card-desc">
                  100 в процессе
                </p>
              </div>

              <p class="staff__card-en">
                МГУ им. М.В. Ломоносова (“Юриспруденция”
                Российский экономический университет им. Г.В. Плеханова (“Финансы и кредит”)
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="staff__card">
            <img class="staff__card-img" src="assets/img/staff1.jpg" alt="">
            <div class="staff__card-content">
              <p class="staff__card-title">
                Дарья Соколова
              </p>
              <div class="staff__card-desc-box">
                <p class="staff__card-desc">
                  100 завершенных
                </p>
                <p class="staff__card-desc">
                  100 в процессе
                </p>
              </div>

              <p class="staff__card-en">
                МГУ им. М.В. Ломоносова (“Юриспруденция”
                Российский экономический университет им. Г.В. Плеханова (“Финансы и кредит”)
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="staff__card">
            <img class="staff__card-img" src="assets/img/staff1.jpg" alt="">
            <div class="staff__card-content">
              <p class="staff__card-title">
                Дарья Соколова
              </p>
              <div class="staff__card-desc-box">
                <p class="staff__card-desc">
                  100 завершенных
                </p>
                <p class="staff__card-desc">
                  100 в процессе
                </p>
              </div>

              <p class="staff__card-en">
                МГУ им. М.В. Ломоносова (“Юриспруденция”
                Российский экономический университет им. Г.В. Плеханова (“Финансы и кредит”)
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="staff__card">
            <img class="staff__card-img" src="assets/img/staff1.jpg" alt="">
            <div class="staff__card-content">
              <p class="staff__card-title">
                Дарья Соколова
              </p>
              <div class="staff__card-desc-box">
                <p class="staff__card-desc">
                  100 завершенных
                </p>
                <p class="staff__card-desc">
                  100 в процессе
                </p>
              </div>

              <p class="staff__card-en">
                МГУ им. М.В. Ломоносова (“Юриспруденция”
                Российский экономический университет им. Г.В. Плеханова (“Финансы и кредит”)
              </p>
            </div>
          </div>

        </div>
        <div class="swiper-slide">
          <div class="staff__card">
            <img class="staff__card-img" src="assets/img/staff1.jpg" alt="">
            <div class="staff__card-content">
              <p class="staff__card-title">
                Дарья Соколова
              </p>
              <div class="staff__card-desc-box">
                <p class="staff__card-desc">
                  100 завершенных
                </p>
                <p class="staff__card-desc">
                  100 в процессе
                </p>
              </div>

              <p class="staff__card-en">
                МГУ им. М.В. Ломоносова (“Юриспруденция”
                Российский экономический университет им. Г.В. Плеханова (“Финансы и кредит”)
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination  swiper-staff__swiper-pagination"></div>
    </div>

    <div class="swiper-navigation">
      <div class="swiper-button-prev swiper-staff__swiper-button-prev"></div>
      <div class="swiper-button-next swiper-staff__swiper-button-next"></div>
    </div>
  </div>
</section>



<section class="white section">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="title marker">
        <span class="title-bg">Выигранные дела </span>
      </h2>
      <a class="title-wrapper__link" href="">
        Все выигранные дела
      </a>
    </div>
  </div>

  <div class="container--swiper case ">


    <div class="swiper swiper-case">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="case__card">
            <img class="case__card-img" src="assets/img/case-img.jpg" alt="">
            <div class="case__card-content">
              <p class="case__card-name">
                Гурова Софья Андреевна
              </p>
              <div class="case__card-price-box">
                <p class="case__card-price-title">Сумма долга: </p>
                <p class="case__card-price">3 456 ₽</p>
              </div>
              <p class="case__card-decs">
                Гурова Софья Андреевна
              </p>
              <a class="case__card-btn btn" href="">
                Подробнее
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="case__card">
            <img class="case__card-img" src="assets/img/case-img.jpg" alt="">
            <div class="case__card-content">
              <p class="case__card-name">
                Гурова Софья Андреевна
              </p>
              <div class="case__card-price-box">
                <p class="case__card-price-title">Сумма долга: </p>
                <p class="case__card-price">3 456 ₽</p>
              </div>
              <p class="case__card-decs">
                Гурова Софья Андреевна
              </p>
              <a class="case__card-btn btn" href="">
                Подробнее
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="case__card">
            <img class="case__card-img" src="assets/img/case-img.jpg" alt="">
            <div class="case__card-content">
              <p class="case__card-name">
                Гурова Софья Андреевна
              </p>
              <div class="case__card-price-box">
                <p class="case__card-price-title">Сумма долга: </p>
                <p class="case__card-price">3 456 ₽</p>
              </div>
              <p class="case__card-decs">
                Гурова Софья Андреевна
              </p>
              <a class="case__card-btn btn" href="">
                Подробнее
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="case__card">
            <img class="case__card-img" src="assets/img/case-img.jpg" alt="">
            <div class="case__card-content">
              <p class="case__card-name">
                Гурова Софья Андреевна
              </p>
              <div class="case__card-price-box">
                <p class="case__card-price-title">Сумма долга: </p>
                <p class="case__card-price">3 456 ₽</p>
              </div>
              <p class="case__card-decs">
                Гурова Софья Андреевна
              </p>
              <a class="case__card-btn btn" href="">
                Подробнее
              </a>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="case__card">
            <img class="case__card-img" src="assets/img/case-img.jpg" alt="">
            <div class="case__card-content">
              <p class="case__card-name">
                Гурова Софья Андреевна
              </p>
              <div class="case__card-price-box">
                <p class="case__card-price-title">Сумма долга: </p>
                <p class="case__card-price">3 456 ₽</p>
              </div>
              <p class="case__card-decs">
                Гурова Софья Андреевна
              </p>
              <a class="case__card-btn btn" href="">
                Подробнее
              </a>
            </div>
          </div>
        </div>



      </div>
      <div class="swiper-pagination swiper-case__swiper-pagination"></div>

    </div>

    <div class="swiper-case__swiper-button-next swiper-button-next">
    </div>
    <div class="swiper-case__swiper-button-prev swiper-button-prev">
    </div>
  </div>
</section>


<section class="consultation">
  <div class="container">

    <div class="consultation__box">
      <h2 class="title">
        Получите <span>консультацию</span> юриста
      </h2>
      <p class="consultation__desc">
        Онлайн-консультация предоставляется бесплатно и не обязывает клиентов на заключение договора юридического
        сопровождения
      </p>


      <form class="consultation__form" action="">

        <div class="consultation__form-box">
          <input class="input-form consultation__form-input" type="text" placeholder="Имя">
          <input class="input-form consultation__form-input input-phone" type="text" placeholder="Телефон">
          <button class="consultation__form-btn btn" type="submit"> Бесплатная консультация</button>
        </div>
        <div class="consultation__form-check">
          <input type="checkbox" class="custom-checkbox" id="consultation__check" name="happy" value="yes">
          <label for="consultation__check">Согласие на обработку персональных данных</label>
        </div>
      </form>
    </div>
  </div>
</section>


<section class="gray section">
  <div class="container">

    <div class="title-wrapper">
      <h2 class="title">
        <span class="title-bg">Отзывы</span>
      </h2>
      <a class="title-wrapper__link" href="">
        Все отзывы
      </a>
    </div>

  </div>

  <div class="container--swiper reviews ">
    <div class="swiper swiper-reviews">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="reviews__card">
            <div class="reviews__content-box">
              <div class="reviews__top">
                <img class="reviews__img" src="assets/img/reviews.jpg" alt="">
                <div class="reviews__name-box">
                  <p class="reviews__name">
                    Николай Андреев
                  </p>

                  <p class="reviews__city">
                    г.Орел
                  </p>
                </div>
              </div>
              <p class="reviews__text">
                «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
                труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
                предоставляет много услуг.
                предоставляет много услуг.
              </p>

              <a class="reviews__btn btn" href="">
                Подробнее
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__card">
            <div class="reviews__content-box">
              <div class="reviews__top">
                <img class="reviews__img" src="assets/img/reviews.jpg" alt="">
                <div class="reviews__name-box">
                  <p class="reviews__name">
                    Николай Андреев
                  </p>

                  <p class="reviews__city">
                    г.Орел
                  </p>
                </div>
              </div>
              <p class="reviews__text">
                «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
                труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
                предоставляет много услуг.
                предоставляет много услуг.
              </p>

              <a class="reviews__btn btn" href="">
                Подробнее
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__card">
            <div class="reviews__content-box">
              <div class="reviews__top">
                <img class="reviews__img" src="assets/img/reviews.jpg" alt="">
                <div class="reviews__name-box">
                  <p class="reviews__name">
                    Николай Андреев
                  </p>

                  <p class="reviews__city">
                    г.Орел
                  </p>
                </div>
              </div>
              <p class="reviews__text">
                «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
                труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
                предоставляет много услуг.
                предоставляет много услуг.
              </p>

              <a class="reviews__btn btn" href="">
                Подробнее
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__card">
            <div class="reviews__content-box">
              <div class="reviews__top">
                <img class="reviews__img" src="assets/img/reviews.jpg" alt="">
                <div class="reviews__name-box">
                  <p class="reviews__name">
                    Николай Андреев
                  </p>

                  <p class="reviews__city">
                    г.Орел
                  </p>
                </div>
              </div>
              <p class="reviews__text">
                «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
                труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
                предоставляет много услуг.
                предоставляет много услуг.
              </p>

              <a class="reviews__btn btn" href="">
                Подробнее
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__card">
            <div class="reviews__content-box">
              <div class="reviews__top">
                <img class="reviews__img" src="assets/img/reviews.jpg" alt="">
                <div class="reviews__name-box">
                  <p class="reviews__name">
                    Николай Андреев
                  </p>

                  <p class="reviews__city">
                    г.Орел
                  </p>
                </div>
              </div>
              <p class="reviews__text">
                «Стабильная компания, давно на рынке, множество клиентов по России и странам СНГ. Современные условия
                труда и отношение к своим сотрудникам. Компания предоставляет много услуг.
                предоставляет много услуг.
                предоставляет много услуг.
              </p>

              <a class="reviews__btn btn" href="">
                Подробнее
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-reviews__swiper-pagination"></div>
    </div>
    <!-- навигация -->
    <div class="swiper-reviews__swiper-button-next swiper-button-next">
    </div>
    <div class="swiper-reviews__swiper-button-prev swiper-button-prev">
    </div>
  </div>


  </div>

</section>



<section class="white section">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="title marker">
        <span class="title-bg">Часто задаваемые вопросы </span>
      </h2>
    </div>




    <ul id="questions" class="accordionjs questions">


      <li class="questions__item">
        <div class="questions__title-box">

          <p class="questions__title">Консультация юриста по банкротству физических лиц </p>

        </div>
        <div>
          <div class="questions__open">

            <div class="questions__open-item">
              Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства.
              Обо
              всех
              возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем
              офисе.
            </div>
          </div>
        </div>
      </li>

      <li class="questions__item">
        <div class="questions__title-box">

          <p class="questions__title">Консультация юриста по банкротству физических лиц </p>

        </div>
        <div>
          <div class="questions__open">

            <div class="questions__open-item">
              Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства.
              Обо
              всех
              возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем
              офисе.
            </div>
          </div>
        </div>
      </li>
      <li class="questions__item">
        <div class="questions__title-box">

          <p class="questions__title">Консультация юриста по банкротству физических лиц </p>

        </div>
        <div>
          <div class="questions__open">

            <div class="questions__open-item">
              Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства.
              Обо
              всех
              возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем
              офисе.
            </div>
          </div>
        </div>
      </li>
    </ul>

  </div>
</section>


<section class="gray section">
  <div class="container">

    <div class="title-wrapper">
      <h2 class="title">
        <span class="title-bg">Популярные статьи</span>
      </h2>
      <a class="title-wrapper__link" href="">
        Все статьи
      </a>
    </div>

  </div>

  <div class="container--swiper articles">
    <div class=" swiper swiper-articles ">
      <div class="swiper-wrapper ">
        <div class="swiper-slide">
          <div href="" class="articles__card">
            <a href="">
              <img class="articles__img" src="assets/img/articles.jpg" alt="">
            </a>
            <div class="articles__content">
              <a href="" class="articles__title">
                Утверждено мировое соглашение
              </a>
              <p class="articles__desc">
                Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
                "Транснефти" и "Газпрома".
              </p>
              <p class="articles__date">
                25 Апреля 2022
              </p>
              <div class="articles__link-box">
                <a href="" class="articles__link">
                  Читать дальше
                </a>
                <p class="articles__link-view">
                  345
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div href="" class="articles__card">
            <a href="">
              <img class="articles__img" src="assets/img/articles.jpg" alt="">
            </a>
            <div class="articles__content">
              <a href="" class="articles__title">
                Утверждено мировое соглашение
              </a>
              <p class="articles__desc">
                Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
                "Транснефти" и "Газпрома".
              </p>
              <p class="articles__date">
                25 Апреля 2022
              </p>
              <div class="articles__link-box">
                <a href="" class="articles__link">
                  Читать дальше
                </a>
                <p class="articles__link-view">
                  345
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div href="" class="articles__card">
            <a href="">
              <img class="articles__img" src="assets/img/articles.jpg" alt="">
            </a>
            <div class="articles__content">
              <a href="" class="articles__title">
                Утверждено мировое соглашение
              </a>
              <p class="articles__desc">
                Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
                "Транснефти" и "Газпрома".
              </p>
              <p class="articles__date">
                25 Апреля 2022
              </p>
              <div class="articles__link-box">
                <a href="" class="articles__link">
                  Читать дальше
                </a>
                <p class="articles__link-view">
                  345
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div href="" class="articles__card">
            <a href="">
              <img class="articles__img" src="assets/img/articles.jpg" alt="">
            </a>
            <div class="articles__content">
              <a href="" class="articles__title">
                Утверждено мировое соглашение
              </a>
              <p class="articles__desc">
                Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
                "Транснефти" и "Газпрома".
              </p>
              <p class="articles__date">
                25 Апреля 2022
              </p>
              <div class="articles__link-box">
                <a href="" class="articles__link">
                  Читать дальше
                </a>
                <p class="articles__link-view">
                  345
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="swiper-pagination swiper-articles__swiper-pagination"></div>
    </div>
    <!-- навигация -->
    <div class="swiper-articles__swiper-button-next swiper-button-next">
    </div>
    <div class="swiper-articles__swiper-button-prev swiper-button-prev">
    </div>
  </div>

</section>



<section class="connect">
  <div class="container">
    <div class="connect__block">
      <div class="connect__left">
        <div class="connect__box">
          <p class="connect__question">
            Остались вопросы?
          </p>
          <h2 class="connect__title">
            Запишитесь на бесплатную
            онлайн-консультацию!
          </h2>
          <p class="connect__desc">
            Оставьте заявку и наш специалист перезвонит Вам
            в ближайшее время. Детально расскажем о тербованиях
            к банкротству, последствиях и рисках процедуры.
          </p>
        </div>

        <ul class="connect__list">
          <li class="connect__item">
            <img class="connect__item-img" src="assets/img/connect1.svg" alt="">
            <p class="connect__item-text">Перезвоним в течение 5 минут</p>
          </li>
          <li class="connect__item">
            <img class="connect__item-img" src="assets/img/connect2.svg" alt="">
            <p class="connect__item-text">Расскажем, как избавиться от долгов</p>
          </li>
          <li class="connect__item">
            <img class="connect__item-img" src="assets/img/connect3.svg" alt="">
            <p class="connect__item-text">Гарантируем конфиденциальность</p>
          </li>
        </ul>
      </div>
      <form class="connect__form" action="">

        <p class="connect__form-title">
          Записаться
          на консультацию
        </p>
        <div class="connect__form-box">

          <input class="input-form connect__form-input name" type="text" placeholder="Имя">

          <input class="input-form connect__form-input tel input-phone" type="text" placeholder="Телефон">


          <div class="connect__form-check">
            <input type="checkbox" class="custom-checkbox" id="connect__check" name="happy" value="yes">
            <label for="connect__check">Согласие на обработку персональных данных</label>
          </div>
          <button class="connect__form-btn btn" type="submit"> Бесплатная консультация</button>
        </div>
      </form>
    </div>

  </div>
</section>


{% endblock %}