{% set title = "О компании" %}
{% set bodyClass = "is-about-page" %}

{% extends "html/layouts/default.html" %}

{% block content %}


<section class="about-page">
  <div class="container">
    {% include "html/includes/breadcrumbs.html" %}
    <h1 class="title">
      <span class="title-bg">О компании</span>
    </h1>

    <div class="about-page__text-box">
      <img class="about-page__img-top" src="assets/img/about-top.jpg" alt="">
      <p class="about-page__text">
        <span>«Технология банкротства» </span> — сервис <strong>подбора арбитражных управляющих</strong>
        без посредников и переплат.
      </p>
      <p class="about-page__text">
        С целью оптимального выбора арбитражного управляющего для каждого клиента, используется авторская разработка
        искусственного интеллекта. Данный подход позволяет получить выборку из арбитражных управляющих, способных
        провести процедуру банкротства, обладающими необходимым опытом в каждом конкретном регионе страны.
      </p>
      <p class="about-page__text">
        Для создания сервиса была сформирована команда из числа опытных арбитражных управляющих, юристов, налоговых
        консультантов, бухгалтеров, разработчиков.
      </p>
      <p class="about-page__text">
        Миссия сервиса: «Обеспечить каждому гражданину оптимальный подбор арбитражного управляющего, для комфортного
        прохождения процедуры банкротства, без посредников и переплат».
      </p>
    </div>


    <ul class="about-page__list">
      <li class="about-page__item">
        <img class="about-page__img" src="assets/img/about1.svg" alt="">
        <p class="about-page__item-title">
          <span>> 13</span>
          млрд.рублей
        </p>
        <p class="about-page__item-text">
          долговых <br>
          обязанностей списано
        </p>
      </li>
      <li class="about-page__item">
        <img class="about-page__img" src="assets/img/about2.svg" alt="">
        <p class="about-page__item-title">
          <span> > 1 </span>
          млн.граждан
        </p>
        <p class="about-page__item-text">
          освободились<br>
          от долгов
        </p>
      </li>
      <li class="about-page__item">
        <img class="about-page__img" src="assets/img/about1.svg" alt="">
        <p class="about-page__item-title">
          <span> > 9 </span>

          лет
        </p>
        <p class="about-page__item-text">
          успешной работы<br>
          закона о банкротстве
        </p>
      </li>


    </ul>


    <p class="about-page__list-desc">
      Главное достоинство нашей компании - гарантии!
    </p>

  </div>
</section>

<section class="gray section">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="title subtitle">
        <span class="title-bg">История компании</span>
      </h2>
    </div>


    <div class="about-page__text-box swiper">
      <p class="about-page__text">
        Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства. Обо всех
        возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
      </p>
      <p class="about-page__text">
        Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства. Обо всех
        возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
      </p>
    </div>

    <div class="about-page__tab-box">
      <div class="about-page__btn-box">
        <button class="tab-btn active" id="tab-btn-1">
          <p class="about-page__btn-text">2015
          </p>
        </button>

        <button class="tab-btn m-d-n" id="tab-btn-2" name="tab-btn">
          <p class="about-page__btn-text">2016</p>
        </button>

        <button class="tab-btn" id="tab-btn-3" name="tab-btn">
          <p class="about-page__btn-text">2018</p>
        </button>

        <button class="tab-btn m-d-n" id="tab-btn-4" name="tab-btn">
          <p class="about-page__btn-text">2019</p>
        </button>

        <button class="tab-btn m-d-n" id="tab-btn-5" name="tab-btn">
          <p class="about-page__btn-text">2020</p>
        </button>

        <button class="tab-btn m-d-n" id="tab-btn-6" name="tab-btn">
          <p class="about-page__btn-text">2021</p>
        </button>

        <button class="tab-btn" id="tab-btn-7" name="tab-btn">
          <p class="about-page__btn-text">2022</p>
        </button>

        <button class="tab-btn" id="tab-btn-8" name="tab-btn">
          <p class="about-page__btn-text">2023</p>
        </button>

        <button class="tab-btn" id="tab-btn-9" name="tab-btn">
          <p class="about-page__btn-text">2024</p>
        </button>
      </div>
    </div>
    <div class="tab-content about-page__tab-content" data-id="tab-btn-1">
      1 Выпущено несколько новых продуктов по <span>автоматизации юридических процессов</span> - оспаривание
      автоштрафов,
      банкротство
      физического лица. Преодолена планка в <span>2,5 млрд.</span> списанных долгов нашим клиентам по банкротству
      физических
      лиц.
    </div>
    <div class="tab-content about-page__tab-content d-n" data-id="tab-btn-2">
      2 Выпущено несколько новых продуктов по автоматизации юридических процессов - оспаривание автоштрафов,
      банкротство
      физического лица. Преодолена планка в 2,5 млрд. списанных долгов нашим клиентам по банкротству физических
      лиц.
    </div>
    <div class="tab-content about-page__tab-content d-n" data-id="tab-btn-3">
      3 Выпущено несколько новых продуктов по автоматизации юридических процессов - оспаривание автоштрафов,
      банкротство
      физического лица. Преодолена планка в 2,5 млрд. списанных долгов нашим клиентам по банкротству физических
      лиц.
    </div>
    <div class="tab-content about-page__tab-content d-n" data-id="tab-btn-4">
      Выпущено несколько новых продуктов по автоматизации юридических процессов - оспаривание автоштрафов,
      банкротство
      физического лица. Преодолена планка в 2,5 млрд. списанных долгов нашим клиентам по банкротству физических
      лиц.
    </div>
    <div class="tab-content about-page__tab-content d-n" data-id="tab-btn-5">
      Выпущено несколько новых продуктов по автоматизации юридических процессов - оспаривание автоштрафов,
      банкротство
      физического лица. Преодолена планка в 2,5 млрд. списанных долгов нашим клиентам по банкротству физических
      лиц.
    </div>
    <div class="tab-content about-page__tab-content d-n" data-id="tab-btn-6">
      Выпущено несколько новых продуктов по автоматизации юридических процессов - оспаривание автоштрафов,
      банкротство
      физического лица. Преодолена планка в 2,5 млрд. списанных долгов нашим клиентам по банкротству физических
      лиц.
    </div>
    <div class="tab-content about-page__tab-content d-n" data-id="tab-btn-7">
      Выпущено несколько новых продуктов по автоматизации юридических процессов - оспаривание автоштрафов,
      банкротство
      физического лица. Преодолена планка в 2,5 млрд. списанных долгов нашим клиентам по банкротству физических
      лиц.
    </div>
    <div class="tab-content about-page__tab-content d-n" data-id="tab-btn-8">
      Выпущено несколько новых продуктов по автоматизации юридических процессов - оспаривание автоштрафов,
      банкротство
      физического лица. Преодолена планка в 2,5 млрд. списанных долгов нашим клиентам по банкротству физических
      лиц.
    </div>
    <div class="tab-content about-page__tab-content d-n" data-id="tab-btn-9">
      Выпущено несколько новых продуктов по автоматизации юридических процессов - оспаривание автоштрафов,
      банкротство
      физического лица. Преодолена планка в 2,5 млрд. списанных долгов нашим клиентам по банкротству физических
      лиц.
    </div>



  </div>
</section>
<section class="white section">
  <div class="container">
    <div class="trust">
      <div class="trust__block">
        <h2 class="title subtitle marker">
          <span class="title-bg">Почему </span> стоит довериться нам
        </h2>
        <p class="trust__text">
          Благодаря большому опыту
          и продолжительной эффективной работе, мы изучили все нюансы законодательства.
        </p>
        <p class="trust__text">
          Обо всех возможностях положительного решения вашего вопроса мы ознакомим Вас на <a class="trust__link"
            href="">бесплатной консультации</a> в
          нашем
          офисе.
        </p>
      </div>
      <ul class="trust__list">
        <li class="trust__item">
          <p class="trust__item-title">
            150 дел
          </p>
          <p class="trust__item-text">
            Мы возлагаем на себя всю работу
            с финансовыми организаиями вместо Вас
          </p>
        </li>
        <li class="trust__item">
          <p class="trust__item-title">
            Свой
          </p>
          <p class="trust__item-text">
            Мы возлагаем на себя всю работу
            с финансовыми организаиями вместо Вас
          </p>
        </li>
        <li class="trust__item">
          <p class="trust__item-title">
            Под ключ
          </p>
          <p class="trust__item-text">
            Мы возлагаем на себя всю работу
            с финансовыми организаиями вместо Вас
          </p>
        </li>
        <li class="trust__item">
          <p class="trust__item-title">
            Без доплат
          </p>
          <p class="trust__item-text">
            Мы возлагаем на себя всю работу
            с финансовыми организаиями вместо Вас
          </p>
        </li>

      </ul>
    </div>
  </div>
</section>


<section class="gray section">
  <div class="container">

    <div class="title-wrapper">
      <h2 class="title subtitle">
        <span class="title-bg">Арбитражные управляющие
      </h2>
      <a class="title-wrapper__link" href="">
        Все арбитражные управляющие
      </a>
    </div>

  </div>

  <div class="container staff ">


    <div class="swiper swiper-staff">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="staff__card">
            <img class="staff__card-img" src="assets/img/staff1.jpg" alt="">
            <div class="staff__card-content">
              <p class="staff__card-title">
                Дарья Соколова
              </p>
              <div class="staff__card-desc-box">
                <p class="staff__card-desc">
                  100 завершенных
                </p>
                <p class="staff__card-desc">
                  100 в процессе
                </p>
              </div>

              <p class="staff__card-en">
                МГУ им. М.В. Ломоносова (“Юриспруденция”
                Российский экономический университет им. Г.В. Плеханова (“Финансы и кредит”)
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="staff__card">
            <img class="staff__card-img" src="assets/img/staff1.jpg" alt="">
            <div class="staff__card-content">
              <p class="staff__card-title">
                Дарья Соколова
              </p>
              <div class="staff__card-desc-box">
                <p class="staff__card-desc">
                  100 завершенных
                </p>
                <p class="staff__card-desc">
                  100 в процессе
                </p>
              </div>

              <p class="staff__card-en">
                МГУ им. М.В. Ломоносова (“Юриспруденция”
                Российский экономический университет им. Г.В. Плеханова (“Финансы и кредит”)
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="staff__card">
            <img class="staff__card-img" src="assets/img/staff1.jpg" alt="">
            <div class="staff__card-content">
              <p class="staff__card-title">
                Дарья Соколова
              </p>
              <div class="staff__card-desc-box">
                <p class="staff__card-desc">
                  100 завершенных
                </p>
                <p class="staff__card-desc">
                  100 в процессе
                </p>
              </div>

              <p class="staff__card-en">
                МГУ им. М.В. Ломоносова (“Юриспруденция”
                Российский экономический университет им. Г.В. Плеханова (“Финансы и кредит”)
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="staff__card">
            <img class="staff__card-img" src="assets/img/staff1.jpg" alt="">
            <div class="staff__card-content">
              <p class="staff__card-title">
                Дарья Соколова
              </p>
              <div class="staff__card-desc-box">
                <p class="staff__card-desc">
                  100 завершенных
                </p>
                <p class="staff__card-desc">
                  100 в процессе
                </p>
              </div>

              <p class="staff__card-en">
                МГУ им. М.В. Ломоносова (“Юриспруденция”
                Российский экономический университет им. Г.В. Плеханова (“Финансы и кредит”)
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="staff__card">
            <img class="staff__card-img" src="assets/img/staff1.jpg" alt="">
            <div class="staff__card-content">
              <p class="staff__card-title">
                Дарья Соколова
              </p>
              <div class="staff__card-desc-box">
                <p class="staff__card-desc">
                  100 завершенных
                </p>
                <p class="staff__card-desc">
                  100 в процессе
                </p>
              </div>

              <p class="staff__card-en">
                МГУ им. М.В. Ломоносова (“Юриспруденция”
                Российский экономический университет им. Г.В. Плеханова (“Финансы и кредит”)
              </p>
            </div>
          </div>

        </div>
        <div class="swiper-slide">
          <div class="staff__card">
            <img class="staff__card-img" src="assets/img/staff1.jpg" alt="">
            <div class="staff__card-content">
              <p class="staff__card-title">
                Дарья Соколова
              </p>
              <div class="staff__card-desc-box">
                <p class="staff__card-desc">
                  100 завершенных
                </p>
                <p class="staff__card-desc">
                  100 в процессе
                </p>
              </div>

              <p class="staff__card-en">
                МГУ им. М.В. Ломоносова (“Юриспруденция”
                Российский экономический университет им. Г.В. Плеханова (“Финансы и кредит”)
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination  swiper-staff__swiper-pagination"></div>

      <!-- <div class="swiper-navigation">
        <div class="swiper-button-prev swiper-staff__swiper-button-prev"></div>
        <div class="swiper-button-next swiper-staff__swiper-button-next"></div>
      </div> -->
    </div>
  </div>
</section>



<section class="white section">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="title subtitle marker">
        <span class="title-bg">Наши сертификаты</span> и благодарности клиентов
      </h2>

    </div>
  </div>

  <div class="container--swiper certificates ">


    <div class="swiper swiper-certificates">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="certificates__card">
            <img class="certificates__img" src="assets/img/certificates.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="certificates__card">
            <img class="certificates__img" src="assets/img/certificates.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="certificates__card">
            <img class="certificates__img" src="assets/img/certificates.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="certificates__card">
            <img class="certificates__img" src="assets/img/certificates.jpg" alt="">
          </div>
        </div>



      </div>
      <div class="swiper-pagination swiper-certificates__swiper-pagination"></div>

    </div>

    <div class="swiper-certificates__swiper-button-next swiper-button-next">
    </div>
    <div class="swiper-certificates__swiper-button-prev swiper-button-prev">
    </div>
  </div>
</section>


<section class="gray section">
  <div class="container">

    <div class="title-wrapper">
      <h2 class="title subtitle">
        <span class="title-bg">Мы сотрудничаем
      </h2>

    </div>

  </div>

  <div class="container--swiper partners ">


    <div class="swiper swiper-partners">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="partners__card">
            <img class="partners__card-img" src="assets/img/partners.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__card">
            <img class="partners__card-img" src="assets/img/partners.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__card">
            <img class="partners__card-img" src="assets/img/partners.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__card">
            <img class="partners__card-img" src="assets/img/partners.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__card">
            <img class="partners__card-img" src="assets/img/partners.jpg" alt="">
          </div>
        </div>
        <div class="swiper-slide">
          <div class="partners__card">
            <img class="partners__card-img" src="assets/img/partners.jpg" alt="">
          </div>
        </div>

      </div>
      <div class="swiper-pagination  swiper-partners__swiper-pagination"></div>

      <!-- <div class="swiper-navigation">
        <div class="swiper-button-prev swiper-staff__swiper-button-prev"></div>
        <div class="swiper-button-next swiper-staff__swiper-button-next"></div>
      </div> -->
    </div>

    <div class="swiper-partners__swiper-button-next swiper-button-next">
    </div>
    <div class="swiper-partners__swiper-button-prev swiper-button-prev">
    </div>
  </div>
</section>

<section class="consultation">
  <div class="container">

    <div class="consultation__box">
      <h2 class="title">
        Получите <span>консультацию</span> юриста
      </h2>
      <p class="consultation__desc">
        Онлайн-консультация предоставляется бесплатно и не обязывает клиентов на заключение договора юридического
        сопровождения
      </p>


      <form class="consultation__form" action="">

        <div class="consultation__form-box">
          <input class="input-form consultation__form-input" type="text" placeholder="Имя">
          <input class="input-form consultation__form-input" type="tel" placeholder="Телефон">
          <button class="consultation__form-btn" type="submit"> Бесплатная консультация</button>
        </div>
        <div class="consultation__form-check">
          <input type="checkbox" class="custom-checkbox" id="consultation__check" name="happy" value="yes">
          <label for="consultation__check">Согласие на обработку персональных данных</label>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="gray section">
  <div class="container">

    <div class="title-wrapper">
      <h2 class="title subtitle">
        <span class="title-bg">Последние новости</span>
      </h2>
      <a class="title-wrapper__link" href="">
        Все новости
      </a>
    </div>

  </div>
<div class="container--swiper articles">
  <div class=" swiper swiper-articles ">
    <div class="swiper-wrapper ">
      <div class="swiper-slide">
        <div href="" class="articles__card">
          <a href="">
            <img class="articles__img" src="assets/img/articles.jpg" alt="">
          </a>
          <div class="articles__content">
            <a href="" class="articles__title">
              Утверждено мировое соглашение
            </a>
            <p class="articles__desc">
              Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
              "Транснефти" и "Газпрома".
            </p>
            <p class="articles__date">
              25 Апреля 2022
            </p>
            <div class="articles__link-box">
              <a href="" class="articles__link">
                Читать дальше
              </a>
              <p class="articles__link-view">
                345
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div href="" class="articles__card">
          <a href="">
            <img class="articles__img" src="assets/img/articles.jpg" alt="">
          </a>
          <div class="articles__content">
            <a href="" class="articles__title">
              Утверждено мировое соглашение
            </a>
            <p class="articles__desc">
              Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
              "Транснефти" и "Газпрома".
            </p>
            <p class="articles__date">
              25 Апреля 2022
            </p>
            <div class="articles__link-box">
              <a href="" class="articles__link">
                Читать дальше
              </a>
              <p class="articles__link-view">
                345
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div href="" class="articles__card">
          <a href="">
            <img class="articles__img" src="assets/img/articles.jpg" alt="">
          </a>
          <div class="articles__content">
            <a href="" class="articles__title">
              Утверждено мировое соглашение
            </a>
            <p class="articles__desc">
              Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
              "Транснефти" и "Газпрома".
            </p>
            <p class="articles__date">
              25 Апреля 2022
            </p>
            <div class="articles__link-box">
              <a href="" class="articles__link">
                Читать дальше
              </a>
              <p class="articles__link-view">
                345
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div href="" class="articles__card">
          <a href="">
            <img class="articles__img" src="assets/img/articles.jpg" alt="">
          </a>
          <div class="articles__content">
            <a href="" class="articles__title">
              Утверждено мировое соглашение
            </a>
            <p class="articles__desc">
              Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
              "Транснефти" и "Газпрома".
            </p>
            <p class="articles__date">
              25 Апреля 2022
            </p>
            <div class="articles__link-box">
              <a href="" class="articles__link">
                Читать дальше
              </a>
              <p class="articles__link-view">
                345
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="swiper-pagination swiper-articles__swiper-pagination"></div>
  </div>
  <!-- навигация -->
  <div class="swiper-articles__swiper-button-next swiper-button-next">
  </div>
  <div class="swiper-articles__swiper-button-prev swiper-button-prev">
  </div>
</div>


  </div>

</section>


{% endblock %}