{% set title = "Новости" %}
{% set bodyClass = "is-news-page" %}

{% extends "html/layouts/default.html" %}

{% block content %}


<section class="cases-page">
	<div class="container">
		{% include "html/includes/breadcrumbs.html" %}
		<h1 class="title">
			<span class="title-bg">Новости</span>
		</h1>

		<ul class="cases-page__list">
			<li class="cases-page__item">
			{% include "html/includes/articles-card.html" %}
			</li>
			<li class="cases-page__item">
			{% include "html/includes/articles-card.html" %}
			</li>
			<li class="cases-page__item">
			{% include "html/includes/articles-card.html" %}
			</li>
			<li class="cases-page__item">
				{% include "html/includes/articles-card.html" %}
			</li>
			<li class="cases-page__item">
				{% include "html/includes/articles-card.html" %}
			</li>
			<li class="cases-page__item">
				{% include "html/includes/articles-card.html" %}
			</li>
		
		</ul>

		<button class="cases-page__btn">
			Показать еще
		</button>

	</div>
</section>

{% endblock %}