{% set title = "Главная" %}
{% set bodyClass = "is-main" %}

{% extends "html/layouts/default.html" %}

{% block content %}

<section class="banner">
  <div class="container">
    <div class="banner__content">
      <h1 class="banner__title">
        <span class="title-bg">
          Банкротство</span> физических лиц под ключ
      </h1>
      <ul class="banner__list">
        <li class="banner__item">
          <p class="banner__item-text">
            Списывем задолженности по кредитам, ЖКХ, налогам
          </p>
        </li>
        <li class="banner__item">
          <p class="banner__item-text">
            Даем гарантию, фиксируем это в договоре
          </p>
        </li>
        <li class="banner__item">
          <p class="banner__item-text">
            Работаем со всеми регионами России
          </p>
        </li>
        <li class="banner__item">
          <p class="banner__item-text">
            Рассрочка оплаты, скидки пенсионерам
          </p>
        </li>
      </ul>

      <button class="banner__btn">
        Бесплатная консультация
      </button>
    </div>
  </div>
</section>

<section class="gray section">
  <div class="container">
    <div class="experience">
      <h2 class="title">
        <span class="title-bg">Успешный опыт банкротства более</span> 9 лет
      </h2>

      <ul class="experience__list">
        <li class="experience__item">
          <div class="experience__img-box">
            <img src="assets/img/experience1.svg">
          </div>
          <div class="experience__item-box">
            <p class="experience__item-title">
              +10 000
            </p>
            <p class="experience__item-desc">
              Арбитражных управляющих
            </p>
          </div>
        </li>

        <li class="experience__item">
          <div class="experience__img-box">
            <img src="assets/img/experience2.svg">
          </div>
          <div class="experience__item-box">
            <p class="experience__item-title">
              +4 200
            </p>
            <p class="experience__item-desc">
              Рассмотрено заявок
            </p>
          </div>
        </li>

        <li class="experience__item">
          <div class="experience__img-box">
            <img src="assets/img/experience3.svg">
          </div>
          <div class="experience__item-box">
            <p class="experience__item-title">
              +3 200
            </p>
            <p class="experience__item-desc">
              Дел
              в производстве
            </p>
          </div>
        </li>

        <li class="experience__item">
          <div class="experience__img-box">
            <img src="assets/img/experience4.svg">
          </div>
          <div class="experience__item-box">
            <p class="experience__item-title">
              +2 500
            </p>
            <p class="experience__item-desc">
              Дел завершено
            </p>
          </div>
        </li>

        <li class="experience__item">
          <div class="experience__img-box">
            <img src="assets/img/experience5.svg">
          </div>
          <div class="experience__item-box">
            <p class="experience__item-title">
              +100
            </p>
            <p class="experience__item-desc">
              Процентная
              конфиденциальность
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>


<section class="white section">
  <div class="container">
    <div class="trust">
      <div class="trust__block">
        <h2 class="title marker">
          <span class="title-bg">Почему </span> стоит довериться нам
        </h2>
        <p class="trust__text">
          Благодаря большому опыту
          и продолжительной эффективной работе, мы изучили все нюансы законодательства.
        </p>
        <p class="trust__text">
          Обо всех возможностях положительного решения вашего вопроса мы ознакомим Вас на <a class="trust__link"
            href="">бесплатной консультации</a> в
          нашем
          офисе.
        </p>
      </div>
      <ul class="trust__list">
        <li class="trust__item">
          <p class="trust__item-title">
            150 дел
          </p>
          <p class="trust__item-text">
            Мы возлагаем на себя всю работу
            с финансовыми организаиями вместо Вас
          </p>
        </li>
        <li class="trust__item">
          <p class="trust__item-title">
            Свой
          </p>
          <p class="trust__item-text">
            Мы возлагаем на себя всю работу
            с финансовыми организаиями вместо Вас
          </p>
        </li>
        <li class="trust__item">
          <p class="trust__item-title">
            Под ключ
          </p>
          <p class="trust__item-text">
            Мы возлагаем на себя всю работу
            с финансовыми организаиями вместо Вас
          </p>
        </li>
        <li class="trust__item">
          <p class="trust__item-title">
            Без доплат
          </p>
          <p class="trust__item-text">
            Мы возлагаем на себя всю работу
            с финансовыми организаиями вместо Вас
          </p>
        </li>

      </ul>
    </div>
  </div>
</section>


<section class="gray section">
  <div class="container">
    <div class="stages">
      <div class="stages__title-box">
        <h2 class="title">
          <span class="title-bg">Как мы работаем</span>
        </h2>
        <p class="stages__desc">
          Мы доводим ваше дело до успешного финала - <span>списания долгов</span>
        </p>
      </div>
      <ul class="stages__list">
        <li class="stages__item">
          <img class="stages__marker" src="assets/img/1.svg">
          <p class="stages__text">
            Бесплатная консультация,
            включающая финансовый
            анализ
          </p>
        </li>
        <li class="stages__item">
          <img class="stages__marker" src="assets/img/2.svg">
          <p class="stages__text">
            Заключение договора
            и оформление
            нотариальной
            доверенности
          </p>
        </li>
        <li class="stages__item">
          <img class="stages__marker" src="assets/img/3.svg">
          <p class="stages__text">
            Вам назначается
            персональный менеджер,
            финансовый управляющий
          </p>
        </li>
        <li class="stages__item">
          <img class="stages__marker" src="assets/img/4.svg">
          <p class="stages__text">
            Подготовка пакета документов, представление ваших интересов в суде и на собрании кредиторов
          </p>
        </li>
        <li class="stages__item">
          <img class="stages__marker" src="assets/img/5.svg">
          <p class="stages__text">
            Списание долгов и достижение требуемого результата!
          </p>
        </li>
      </ul>

    </div>
  </div>
</section>



<section class="white section">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="title marker">
        <span class="title-bg">Услуги и </span> цены
      </h2>
      <a class="title-wrapper__link" href="">
        Все услуги
      </a>
    </div>




    <ul class="accordion" id="accordion" class="accordionjs">


      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
        <div>
          <div class="accordion__open">
            <ul class="accordion__open-list">
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем
                офисе.
              </li>
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем
                офисе.
              </li>
            </ul>
            <a class="accordion__open-link" href="">
              Подробнее об услуге
            </a>
          </div>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
        <div>
          <div class="accordion__open">
            <ul class="accordion__open-list">
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем
                офисе.
              </li>
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем
                офисе.
              </li>
            </ul>
            <a class="accordion__open-link" href="">
              Подробнее об услуге
            </a>
          </div>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
        <div>
          <div class="accordion__open">
            <ul class="accordion__open-list">
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем
                офисе.
              </li>
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем
                офисе.
              </li>
            </ul>
            <a class="accordion__open-link" href="">
              Подробнее об услуге
            </a>
          </div>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
        <div>
          <div class="accordion__open">
            <ul class="accordion__open-list">
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем
                офисе.
              </li>
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем
                офисе.
              </li>
            </ul>
            <a class="accordion__open-link" href="">
              Подробнее об услуге
            </a>
          </div>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
        <div>
          <div class="accordion__open">
            <ul class="accordion__open-list">
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем
                офисе.
              </li>
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем
                офисе.
              </li>
            </ul>
            <a class="accordion__open-link" href="">
              Подробнее об услуге
            </a>
          </div>
        </div>
      </li>
      <li class="accordion__item">
        <div class="accordion__title-box">
          <p class="accordion__title">Консультация юриста по банкротству физических лиц </p>
          <p class="accordion__price"> от 9 000 Р</p>
        </div>
        <div>
          <div class="accordion__open">
            <ul class="accordion__open-list">
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем
                офисе.
              </li>
              <li class="accordion__open-item">
                Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства.
                Обо
                всех
                возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем
                офисе.
              </li>
            </ul>
            <a class="accordion__open-link" href="">
              Подробнее об услуге
            </a>
          </div>
        </div>
      </li>

    </ul>

  </div>
</section>

<section class="gray section">
  <div class="container">
    <div class="staff">
      <div class="title-wrapper">
        <h2 class="title">
          <span class="title-bg">Арбитражные управляющие
        </h2>
        <a class="title-wrapper__link" href="">
          Все арбитражные управляющие
        </a>
      </div>
    </div>
  </div>

  <div class="container container--swiper">
    <div class="swiper swiper-staff">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="staff__card">
            <img src="" alt="">
          </div>
        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">

        </div>
        <div class="swiper-slide">


        </div>
        <div class="swiper-slide">

        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}