{% set title = "Описание изобретения" %}
{% set bodyClass = "is-articles-page" %}

{% extends "html/layouts/default.html" %}

{% block content %}


<section class="articles-page gray section">
  <div class="container">
    {% include "html/includes/breadcrumbs.html" %}

    <div class="new-page__img-box">
      <img src="assets/img/new.jpg" alt="">
    </div>
    <div class="title-wrapper">
      <h2 class="title">
        <span class="title-bg">Описание изобретения</span>
      </h2>
    </div>

    <div class="articles-page__author-box">

      <div class="articles-page__author-block ">
        <img class="articles-page__author-photo" src="assets/img/author-ing.jpg" alt="">
        <div class="articles-page__author-content">
          <p class="articles-page__author-title d-block">
            Автор статьи
          </p>
          <p class="articles-page__author-text">
            Кондратьева Инна
          </p>
        </div>
      </div>



      <div class="articles-page__author-content">
        <p class="articles-page__author-title">
          Время прочтения
        </p>
        <p class="articles-page__author-text time">
          5 мин
        </p>
      </div>



      <div class="articles-page__author-content">
        <p class="articles-page__author-title">
          Просмотры
        </p>
        <p class="articles-page__author-text view">
          371
        </p>
      </div>


      <div class="articles-page__author-content">
        <p class="articles-page__author-title">
          Дата публикации
        </p>
        <p class="articles-page__author-text date">
          25.02.2024
        </p>
      </div>


    </div>

    <div class="new-page__text-box">
      <p class="new-page__text">
        Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства. Обо всех
        возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
      </p>
    </div>


  </div>
</section>


<section class="section white">
  <div class="container">
    <h3 class="articles-page__toc-title">
      Содержание
    </h3>

    <ul class="articles-page__toc-list">
      <li class="articles-page__toc-item">
        <p class="articles-page__toc-text">
          Как работает ФЗ о банкротстве физических лиц. Изменения и поправки к закону о банкротстве физических лиц.
        </p>
      </li>
      <li class="articles-page__toc-item">
        <p class="articles-page__toc-text">
          Как работает ФЗ о банкротстве физических лиц. Изменения и поправки к закону о банкротстве физических лиц.
        </p>

        <ul class="articles-page__toc-list sublist">
          <li class="articles-page__toc-item">
            <p class="articles-page__toc-text">
              Как работает ФЗ о банкротстве физических лиц. Изменения и поправки к закону о банкротстве физических лиц.
            </p>
          </li>
          <li class="articles-page__toc-item">
            <p class="articles-page__toc-text">
              Как работает ФЗ о банкротстве физических лиц. Изменения и поправки к закону о банкротстве физических лиц.
            </p>
          </li>
        </ul>
      </li>

      <li class="articles-page__toc-item">
        <p class="articles-page__toc-text">
          Как работает ФЗ о банкротстве физических лиц. Изменения и поправки к закону о банкротстве физических лиц.
        </p>
      </li>

      <li class="articles-page__toc-item">
        <p class="articles-page__toc-text">
          Как работает ФЗ о банкротстве физических лиц. Изменения и поправки к закону о банкротстве физических лиц.
        </p>
      </li>
    </ul>

    <div class="articles-page__content-box">
      <h2 class="title subtitle">
        <span class="title-bg"> Описание изобретения </span>
      </h2>

      <div class="articles-page__text-box">
        <p class="new-page__text">
          Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства. Обо
          всех
          возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
        </p>
        <p class="new-page__text">
          Благодаря <a class="new-page__link" href="http://">большому опыту</a> и продолжительной эффективной работе, мы
          изучили все нюансы законодательства. Обо всех
          возможностях положительного решения вашего вопроса мы ознакомим Вас на <strong>бесплатной
            консультации</strong>
          в нашем офисе.
        </p>
        <p class="new-page__text">
          Благодаря <a class="new-page__link" href="http://">большому опыту</a> и продолжительной эффективной работе, мы
          изучили все нюансы законодательства. Обо всех
          возможностях положительного решения вашего вопроса мы ознакомим Вас на <strong>бесплатной
            консультации</strong>
          в нашем офисе.
        </p>
        <p class="new-page__text">
          Благодаря <a class="new-page__link" href="http://">большому опыту</a> и продолжительной эффективной работе, мы
          изучили все нюансы законодательства. Обо всех
          возможностях положительного решения вашего вопроса мы ознакомим Вас на <strong>бесплатной
            консультации</strong>
          в нашем офисе.
        </p>
        <p class="new-page__text">
          Благодаря <a class="new-page__link" href="http://">большому опыту</a> и продолжительной эффективной работе, мы
          изучили все нюансы законодательства. Обо всех
          возможностях положительного решения вашего вопроса мы ознакомим Вас на <strong>бесплатной
            консультации</strong>
          в нашем офисе.
        </p>
        <p class="new-page__text">
          Благодаря большому опыту и продолжительной эффективной работе, мы изучили все нюансы законодательства. Обо
          всех
          возможностях положительного решения вашего вопроса мы ознакомим Вас на бесплатной консультации в нашем офисе.
        </p>
      </div>

      <div class="articles-page__social-box">
        <p class="articles-page__social-title">
          Поделиться
        </p>
        <div class="articles-page__social-links">
          <a class="articles-page__social-link" href="http://">
            <img class="svg articles-page__social-link-img" src="assets/img/vk-gray.svg" alt="">
          </a>
          <a class="articles-page__social-link" href="http://">
            <img class="svg articles-page__social-link-img" src="assets/img/tg-gray.svg" alt="">
          </a>
          <a class="articles-page__social-link" href="http://">
            <img class="svg articles-page__social-link-img" src="assets/img/wa-gray.svg" alt="">
          </a>
          <a class="articles-page__social-link" href="http://">
            <img class="svg articles-page__social-link-img" src="assets/img/ok-gray.svg" alt="">
          </a>
        </div>

      </div>

    </div>
  </div>
</section>
<section class="consultation">
  <div class="container">

    <div class="consultation__box">
      <h2 class="title">
        Хотите <span>избавится</span> от всех долгов?
      </h2>
      <p class="consultation__desc">
        Онлайн-консультация предоставляется бесплатно и не обязывает клиентов на заключение договора юридического
        сопровождения
      </p>


      <form class="consultation__form" action="">

        <div class="consultation__form-box">
          <input class="input-form consultation__form-input" type="text" placeholder="Имя">
          <input class="input-form consultation__form-input" type="tel" placeholder="Телефон">
          <button class="consultation__form-btn btn" type="submit"> Бесплатная консультация</button>
        </div>
        <div class="consultation__form-check">
          <input type="checkbox" class="custom-checkbox" id="consultation__check" name="happy" value="yes">
          <label for="consultation__check">Согласие на обработку персональных данных</label>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="gray section">
  <div class="container">

    <div class="title-wrapper">
      <h2 class="title subtitle">
        <span class="title-bg">Последние статьи</span>
      </h2>
      <a class="title-wrapper__link" href="">
        Все статьи
      </a>
    </div>

  </div>

  <div class="container articles ">
    <div class="swiper swiper-articles">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="articles__card">
            <img class="articles__img" src="assets/img/articles.jpg" alt="">
            <div class="articles__content">
              <p class="articles__title">
                Утверждено мировое соглашение
              </p>
              <p class="articles__desc">
                Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
                "Транснефти" и "Газпрома".
              </p>
              <p class="articles__date">
                25 Апреля 2022
              </p>
              <div class="articles__link-box">
                <a class="articles__link" href="">
                  Читать дальше
                </a>
                <p class="articles__link-view">
                  345
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="articles__card">
            <img class="articles__img" src="assets/img/articles.jpg" alt="">
            <div class="articles__content">
              <p class="articles__title">
                Утверждено мировое соглашение
                Утверждено мировое соглашение
                Утверждено мировое соглашение
              </p>
              <p class="articles__desc">
                Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
                "Транснефти" и "Газпрома".
              </p>
              <p class="articles__date">
                25 Апреля 2022
              </p>
              <div class="articles__link-box">
                <a class="articles__link" href="">
                  Читать дальше
                </a>
                <p class="articles__link-view">
                  345
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="articles__card">
            <img class="articles__img" src="assets/img/articles.jpg" alt="">
            <div class="articles__content">
              <p class="articles__title">
                Утверждено мировое соглашение
              </p>
              <p class="articles__desc">
                Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
                "Транснефти" и "Газпрома".
              </p>
              <p class="articles__date">
                25 Апреля 2022
              </p>
              <div class="articles__link-box">
                <a class="articles__link" href="">
                  Читать дальше
                </a>
                <p class="articles__link-view">
                  345
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="articles__card">
            <img class="articles__img" src="assets/img/articles.jpg" alt="">
            <div class="articles__content">
              <p class="articles__title">
                Утверждено мировое соглашение
              </p>
              <p class="articles__desc">
                Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
                "Транснефти" и "Газпрома".
              </p>
              <p class="articles__date">
                25 Апреля 2022
              </p>
              <div class="articles__link-box">
                <a class="articles__link" href="">
                  Читать дальше
                </a>
                <p class="articles__link-view">
                  345
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="articles__card">
            <img class="articles__img" src="assets/img/articles.jpg" alt="">
            <div class="articles__content">
              <p class="articles__title">
                Утверждено мировое соглашение
              </p>
              <p class="articles__desc">
                Арбитражный суд Московского округа утвердил мировое соглашение в деле по иску дочерних структур
                "Транснефти" и "Газпрома".
              </p>
              <p class="articles__date">
                25 Апреля 2022
              </p>
              <div class="articles__link-box">
                <a class="articles__link" href="">
                  Читать дальше
                </a>
                <p class="articles__link-view">
                  345
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination swiper-articles__swiper-pagination"></div>
    </div>

  </div>


  </div>

</section>
{% endblock %}