.header
	&__top
		width: 100%
		background: linear-gradient(90deg, #59585a 0%, #585455 100%)
		padding-top: 25px
		padding-bottom: 20px
	&__top-box
		display: grid
		grid-template-columns: 182px auto auto auto
		justify-content: space-between
		gap: 50px
		@media all and ($l)
			gap: 40px
	&__bottom
		box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15)
		width: 100%
		padding: 22px 0
		background: $white
.header-top
	&__col
		display: grid
		align-content: space-between
		&--2
			min-width: 424px
			@media all and ($l)
				min-width: 269px

	&__serch-desc
		display: grid
		grid-auto-flow: column
		gap: 10px
		align-items: center
		justify-content: center
	&__serch-text
		font-family: $font-family
		font-weight: 400
		font-size: 15px
		line-height: 120%
		color: $white

	&__col-box
		display: grid
		gap: 10px
	&__contact
		display: grid
		grid-auto-flow: column
		align-items: center
		align-content: center
		gap: 10px
		text-decoration: none
		justify-items: start
		justify-content: start
	&__contact-text
		font-family: $second-family
		font-weight: 400
		font-size: 15px
		color: $white
		white-space: nowrap
		span
			font-weight: 700
	&__soc-box
		display: grid
		grid-auto-flow: column
		gap: 24px
		justify-items: start
		justify-content: start
	&__soc
		display: grid
		grid-auto-flow: column
		gap: 15px
		align-items: center
	&__lk-link
		display: grid
		grid-auto-flow: column
		gap: 10px
		align-items: center
		text-decoration: none
	&__btn
		border: 1px solid $btn-active
		border-radius: 50px
		padding: 7px 20px
		font-family: $font-family
		font-weight: 400
		font-size: 13px
		text-align: center
		color: $white

.header-bottom
	display: grid
	grid-auto-flow: column
	justify-content: space-between
	gap: 10px
	&__item
		display: grid
		grid-auto-flow: column
		position: relative
		&::after
			right: -15px
			display: grid
			width: 3px
			top: 50%
			transform: translateY(-50%)
			height: 12px
			position: absolute
			content: ""
			background: #727584
		&:last-child::after
			display: none

	&__link
		font-family: $second-family
		font-weight: 700
		font-size: 15px
		line-height: 120%
		text-align: center
		color: $h1-6
		text-decoration: none
		white-space: nowrap
