.header
	&__top
		width: 100%
		background: linear-gradient(90deg, #59585a 0%, #585455 100%)
		padding-top: 25px
		padding-bottom: 20px
	&__top-mob
		display: none
		@media all and ($s)
			display: grid
			grid-template-columns: 1fr auto
			justify-content: space-between
			gap: 10px
	&__top-box
		display: grid
		grid-template-columns: 182px auto auto auto
		justify-content: space-between
		gap: 50px
		@media all and ($l)
			gap: 40px
		@media all and ($m)
			grid-template-columns: 182px auto auto
		@media all and ($s)
			display: none

	&__bottom
		box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15)
		width: 100%
		padding: 22px 0
		background: $white
	&__bottom-mob
		display: none
		@media all and ($m)
			display: grid
			grid-template-columns: auto 1fr
			gap: 20px
.header-top
	&__col
		display: grid
		align-content: space-between
		&--2
			min-width: 424px
			@media all and ($l)
				min-width: 269px
			@media all and ($m)
				display: none

	&__serch-desc
		display: grid
		grid-auto-flow: column
		gap: 10px
		align-items: center
		justify-content: center
	&__serch-text
		font-family: $font-family
		font-weight: 400
		font-size: 15px
		line-height: 120%
		color: $white

	&__col-box
		display: grid
		gap: 10px
	&__contact
		display: grid
		grid-auto-flow: column
		align-items: center
		align-content: center
		gap: 10px
		text-decoration: none
		justify-items: start
		justify-content: start
	&__contact-text
		font-family: $second-family
		font-weight: 400
		font-size: 15px
		color: $white
		white-space: nowrap
		span
			font-weight: 700
	&__soc-box
		display: grid
		grid-auto-flow: column
		gap: 24px
		justify-items: start
		justify-content: start
	&__soc
		display: grid
		grid-auto-flow: column
		gap: 15px
		align-items: center
	&__lk-link
		display: grid
		grid-auto-flow: column
		gap: 10px
		align-items: center
		text-decoration: none
	&__btn-box
		width: 100%
		display: grid
	&__btn
		border: 1px solid $btn-active
		border-radius: 50px
		padding: 7px 20px
		font-family: $font-family
		font-weight: 400
		font-size: 13px
		text-align: center
		color: $white

.header-bottom
	display: grid
	grid-auto-flow: column
	justify-content: space-between
	gap: 10px
	&__item
		display: grid
		grid-auto-flow: column
		position: relative
		&::after
			right: -15px
			display: grid
			width: 3px
			top: 50%
			transform: translateY(-50%)
			height: 12px
			position: absolute
			content: ""
			background: #727584
		&:last-child::after
			display: none
		@media all and ($l)
			&:nth-last-child(2)::after
				display: none
			&::after
				right: -10px

	&__link
		cursor: pointer
		font-family: $second-family
		font-weight: 700
		font-size: 15px
		line-height: 120%
		text-align: center
		color: $h1-6
		text-decoration: none
		white-space: nowrap
		position: relative
		&::before
			content: ""
			position: absolute
			bottom: -3px
			width: 0
			height: 4px
			left: 50%
			transform: translate(-50%)
			transition: width $anim
			background: $button
			opacity: 0
		&:hover::before, &:active::before, &:focus::before
			width: 100%
			opacity: 1

	&__bottom-nav
		@media all and ($m)
			display: none

.header-btm-mob
	display: none
	background: #5D6877
	padding: 5px 0
	@media all and ($s)
		display: block
	&__box
		display: grid
		grid-auto-flow: column
		grid-template-rows: 1fr
		grid-template-columns: 18px auto
		gap: 20px
	.header-btm__search--mob
		display: none
		@media all and ($s)
			display: grid
			max-width: none
		.search-area
			width: 100%
			max-width: none
			position: relative
			visibility: visible
			transform: translateY(-50%)
			top: 50%
		.search__input
			padding: 5px 10px
		.search
			border: 1px solid #AAB2C2
.catalog-mobile
	&__logo
		display: grid
		gap: 20px
		grid-auto-flow: column
		justify-content: space-between
		grid-template-columns: 1fr
		img
			max-width: 236px
	&__logo-link
		display: grid
		justify-content: start
	&__logo-close
		background: none
		position: absolute
		right: 16px
		top: 23px
		img
			width: 18px
			height: 18px
	&__container
		position: fixed
		align-content: start
		left: 0
		top: 0
		width: 100%
		height: 100vh
		z-index: 1000
		padding-top: 15px
		background-color: #292d38
		position: absolute
		display: grid
		gap: 40px
		overflow-y: auto
		visibility: hidden
		transform: translateX(-120%)
		transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out
	&__container.active
		visibility: visible
		transform: none
	&__menu-link
		font-family: $font-family
		font-weight: 400
		font-size: 15px
		line-height: 120%
		text-align: center
		color: $white
		text-decoration: none
		&:active, &:hover, &:focus
			color: $button
	&__button
		padding-bottom: 20px
	&__links
		display: grid
		padding-bottom: 20px
		gap: 10px
	&__catalog-link
		font-family: $font-family
		font-weight: 400
		font-size: 15px
		line-height: 120%
		color: $white
		text-decoration: none
		transition: color $anim
		&:active, &:hover, &:focus
			color: $button

.stop-scroll
	overflow: hidden

.panel
	display: grid
	padding: 0 30px
	max-height: 0
	overflow: hidden
	transition: max-height 0.3s ease-out

.accordion-mob
	cursor: pointer
	width: 100%
	border: none
	text-align: left
	outline: none
	position: relative
	transition: color $anim
	border-radius: 0
	border: none
	margin-top: 0
	&::before
		content: ""
		position: absolute
		background: url(../../assets/img/accordion.svg)
		width: 14px
		height: 8px
		background-repeat: no-repeat
		background-position: center
		right: 0
		top: 7px

.catalog-drop
	position: absolute
	display: none
	z-index: 999
	padding-top: 20px
	&__container
		display: grid
		grid-auto-flow: column
		align-items: start

		@media all and ($s)
			display: none
.tippy-box
	box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15)
	background: $white
.tippy-content
	padding: 0

.catalog-navigation
	display: grid
	&__link
		padding: 7px 15px
		font-family: $font-family
		font-weight: 500
		font-size: 15px
		line-height: 100%
		color: $h1-6
		text-decoration: none
		cursor: pointer
		transition: background $anim
		&:active, &:focus, &:hover
			background: #fdc694
			
			