.services-page
  padding-top: 40px
  padding-bottom: 60px
  &__text-box
    padding-top: 12px
    display: grid
    gap: 10px
  &__text
    font-family: $font-family
    font-weight: 400
    font-size: 18px
    line-height: 144%
    color: $body-text
  &__list
    display: grid
    grid-template-columns: repeat(3,1fr)
    gap: 30px
  &__item
    padding: 35px 20px
    display: grid
    gap: 20px
    border-radius: 5px
    background: $white
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1)
    justify-content: center
    justify-items: center
    align-items: center
  &__item-text
    font-family: $second-family
    font-weight: 600
    font-size: 21px
    line-height: 152%
    text-align: center
    color: $h1-6
