*
  box-sizing: border-box

.container
  display: grid
  max-width: 1440px
  padding-left: 165px
  padding-right: 165px
  margin: 0 auto
  min-width: 320px
  @media all and ($l)
    max-width: 991px
    padding-left: 31px
    padding-right: 31px
  @media all and ($m)
    padding-left: 39px
    padding-right: 39px
  @media all and ($s)
    padding-left: 16px
    padding-right: 16px

  &--swiper
    max-width: 1520px
    padding-left: 125px
    padding-right: 125px


body
  line-height: 1.2
  margin: 0
  position: relative
  font-family: $font-family

ul
  list-style-type: none
  padding-inline-start: 0
a,
p,
li,
ul,
span
  margin-block-start: 0
  margin-block-end: 0
  margin-inline-start: 0px
  margin-inline-end: 0px

h1, h2
  margin-block-start: 0
  margin-block-end: 0

button
  padding-block: 0
  padding-inline: 0
  border-width: 0
  cursor: pointer
  background: transparent

img
  max-width: 100%

main
  // padding-top: 120px
  // padding-bottom: 130px
  // @media all and ($xs)
  //   padding-top: 65px
  //   padding-bottom: 100px

.title-bg
  position: relative
  &::after
    position: absolute
    height: 60%
    width: 65%
    content: ""
    background: $underline
    z-index: -1
    left: 3px
    top: 50%
    transform: translateY(calc(-50% - 5px))

.d-n
  display: none !important

input
  outline: none
  border: none

.search
  position: relative
  border-radius: 5px
  padding: 10px
  background: #82807e
  width: 100%
  &__input

    background: #82807e
    width: calc(100% - 30px)
    color: $white
    font-family: $second-family
    font-weight: 400
    font-size: 15px
    &::placeholder
      color: $white
      font-family: $second-family
      font-weight: 400
      font-size: 15px
      @media all and ($l)
        display: inline-block
        text-overflow: ellipsis
        overflow: hidden
        width: 150px
        white-space: nowrap

  &__button
    position: absolute
    width: 30px
    height: 100%
    background: #82807e
    top: 50%
    right: 10px
    transform: translateY(-50%)

.gray
  background: $body1

.section
  padding-top: 50px
  padding-bottom: 50px

.title
  font-family: $second-family
  font-weight: 700
  font-size: 40px
  line-height: 130%
  color: $h1-6
  position: relative
  z-index: 1
  &.marker
    margin-top: 25px
    &::before
      content: ""
      position: absolute
      width: 46px
      height: 6px
      border-radius: 3px
      background: $button
      top: -7px
      left: 0

.title-wrapper
  display: grid
  gap: 10px
  grid-auto-flow: column
  align-items: center
  justify-content: space-between
  &__link
    border: 1px solid $button
    border-radius: 50px
    padding: 5px 20px
    font-family: $font-family
    font-weight: 700
    font-size: 14px
    text-align: center
    color: $h1-6
    text-decoration: none


